$text: #3D3D3D;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html {
    font-size: 14px;
    overflow-x: hidden;
    color: #fff !important;
    background: #e7e5e8;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    cursor: default;
    color: #fff;
    background: #e7e5e8;
    overflow-x: hidden;
    position: relative;
}

section {
    width: 100%;
    position: relative;
    background: rgb(25, 26, 28);

    &:not(.main-section) * {
        transition: all .3s ease;
    }
}

a {
    text-decoration: none;
}

input,
textarea,
button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

h1 {
    display: none;
}

@keyframes slideup {
    from {
        opacity: 0;
        margin-top: 30px;

    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes slideuprole {
    from {
        opacity: 0;
        margin-top: 30px;

    }

    to {
        opacity: 0.55;
        margin-top: 0;
    }
}

@keyframes slideupmenu {
    from {
        opacity: 0;
        margin-top: 30px;

    }

    to {
        opacity: 0.66;
        margin-top: 0;
    }
}

@keyframes slideupmenuactive {
    0% {
        opacity: 0;
        margin-top: 30px;
        border-bottom-color: transparent;
    }

    90% {
        opacity: 0.66;
        margin-top: 0;
        border-bottom-color: transparent;
    }

    100% {
        opacity: 1;
        border-bottom-color: $text;
    }
}

@keyframes slideuporderbtn {
    0% {
        opacity: 0;
        margin-top: 20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes slideuporderarrow {
    0% {
        right: -40px;
    }

    100% {
        right: -60px;
    }
}

@keyframes slideupreadmorebtn {
    0% {
        opacity: 0;
        bottom: 32%;
    }

    100% {
        opacity: 0.5;
        bottom: 30%;
    }
}

@keyframes slideupreadmorearrow {
    0% {
        left: -48px;
    }

    100% {
        left: -60px;
    }
}

@keyframes slideupsoc {
    0% {
        opacity: 0;
        bottom: 19%;
    }

    100% {
        opacity: 1;
        bottom: 17%;
    }
}

@keyframes slideuprivertime {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes preloader {
    0% {
        height: 100%
    }

    100% {
        height: 0;
    }
}

.disabled-scroll {
    overflow: hidden;
}

.preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #e7e5e8;
    opacity: 1;
    transition: all .3s ease;

    &_hidden {
        opacity: 0;

        &__icon {
            display: none;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__progress {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #e7e5e8;
        height: 100%;
        transition: all .5s ease;
        animation: preloader 3s ease forwards;
    }
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 800;
    background: rgb(25, 26, 28);
    display: none;
    opacity: 0;

    &_active {
        display: block !important;
        opacity: 0.2;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 900;
    background: #fff;
    padding: 4% 10% 3%;
    color: #000;
    text-align: center;
    display: none;

    &_active {
        display: block !important;
    }

    &-success {
        &__icon {
            width: 95px;
            height: 95px;
        }

        &__text {
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.05em;
            margin: 10% 0 15%;
        }

        &__btn {
            border: 1px solid #808080;
            color: $text;
            font-weight: 300;
            background: #fff;
            padding: 20px 75px;
            cursor: pointer;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.05em;

            &:hover {
                background: $text;
                color: #fff;
            }
        }
    }
}

.wrapper {
    margin: 0 auto;
    width: 65%;
    position: relative;
}

.section_hidden {
    display: none;
}

.main-container {
    background: linear-gradient(180deg, #e7e5e8, #e7e5e8);
    position: relative;
    display: block;
    opacity: 1;

    &_hidden {
        display: none;
        opacity: 0;
    }

    &__videobg {
        display: none;
    }

    &_rivertime {
        background: url(img/rivertimebg.jpg) 0 0/ cover no-repeat,
            linear-gradient(180deg, #e7e5e8, #e7e5e8);

        .main-section__title_rivertime {
            display: block;
            animation: slideuprivertime 1s ease forwards;
            color: #fff;
        }

        &__videobg {
            display: none;
        }
    }

    &_rivertime,
    &_deephouse {
        .main-section {
            background: none;

            &__title-wrapper {
                background: none;
            }

            &__menu-item {
                color: #fff;

                &_active {
                    border-bottom: 2px solid #fff;
                }

                &:hover {
                    opacity: 1;
                    border-bottom-color: #fff;
                }
            }

            &__readmore-btn,
            &__order-btn {
                color: #fff;
            }

            &__readmore-arrow,
            &__order-arrow {
                path {
                    fill: #fff;
                }
            }

            &__soc-link {
                opacity: 0.9;

                &:hover {
                    opacity: 1;

                    .main-section__soc-icon path {
                        fill: #fff;
                    }
                }
            }

            &__soc-icon {
                path {
                    fill: #fff;
                }
            }

            &__title,
            &__roles {
                display: none;
            }

            &__title-container {
                top: auto;
                left: 50%;
                bottom: 15%;
                transform: translateX(-50%);
            }
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(25, 26, 28, 0.4);
        z-index: 2;
        display: none;
    }

    &_deephouse {
        .main-container__videobg {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        &:after {
            display: block;
        }

        .main-section {
            background: transparent;

            &__mobile-menu {
                &-icon span {
                    background: #fff;
                }

                &-label {
                    color: #fff;
                }
            }

            &__wrapper * {
                z-index: 20;
            }

            &__title_deephouse {
                animation: slideup 1s ease forwards;
                display: block;
            }
        }
    }
}

.disable-animation {
    .main-section {

        &__menu-item {

            &:not(.main-section__menu-item_active) {
                opacity: 0.66;
                animation: none;
            }

            &_active {
                opacity: 1;
                animation: none;
            }

            &:hover {
                opacity: 1;
            }
        }

        &__order-btn {
            opacity: 1;
            animation: none;

            &:hover {
                right: 5%;

                .main-section__order-arrow {
                    right: -70px;
                }
            }
        }

        &__order-arrow {
            right: -60px;
            animation: none;
        }

        &__readmore-btn {
            opacity: 0.5;
            animation: none;

            &:hover {
                opacity: 1;

                .main-section__readmore-arrow {
                    left: -70px;
                }
            }
        }

        &__readmore-arrow {
            animation: none;
            left: -60px;
        }

        &__soc {
            opacity: 1;
            animation: none;
            bottom: 17%;
        }
    }
}

.slick-slide {
    outline: none;
}

.main-section {
    height: 100vh;
    background: linear-gradient(180deg, #e7e5e8, #e7e5e8);

    &__mobile {
        position: fixed;
        left: 0;
        width: 100%;
        top: 0;
        transform: translateY(-100%);
        background: #191a1c;
        padding: 60px 62px 30px;
        transition: all .3s ease-in-out;
        z-index: 805 !important;

        &_active {
            transform: translateY(0%);
        }

        &-close {
            display: inline-block;
            position: absolute;
            top: 30px;
            left: 24px;

            span {
                content: '';
                position: absolute;
                background: #fff;
                width: 24px;
                height: 1px;
                left: 0;
                display: inline-block;

                &:first-child {
                    transform: rotate(45deg);
                }

                &:last-child {
                    transform: translate(-0.5px, 0px) rotate(-45deg);
                }
            }
        }

        &-item {
            padding: 15px 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            opacity: 0.66;

            &_active {
                opacity: 1;
                font-weight: 600px;
            }
        }

        &-table {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-flex-direction: column;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        &-orderbtn {
            display: inline-block;
            margin: 85px auto 0;
            border: 1px solid #808080;
            box-sizing: border-box;
            height: 60px;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            letter-spacing: 0.1em;
            width: 50%;
            color: #FFFFFF;

        }
    }

    &__mobile-menu {
        position: absolute;
        top: 47px;
        display: none;



        &-icon {
            display: inline-block;
            height: 8px;
            position: relative;

            span {
                content: '';
                position: absolute;
                height: 2px;
                background: #262528;
                width: 22px;
                left: 0;
                display: inline-block;

                &:first-child {
                    top: 0;
                }

                &:last-child {
                    bottom: 0;
                }
            }
        }

        &-label {
            top: -2px;
            left: 30px;
            padding-left: 30px;
            font-weight: 700;
            font-size: 10px;
            letter-spacing: 0.195em;
            text-transform: uppercase;
            color: #222222;
            display: inline-block;
        }
    }

    &__wrapper {
        margin: 0 auto;
        width: 83.5%;
        position: relative;
        height: 100%;
    }

    &__menu {
        position: absolute;
        top: 47px;
        left: 0;

        & * {
            transition: all .3s ease;
        }

        &-item {
            display: inline-block;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $text;
            cursor: pointer;
            opacity: 0;
            padding-bottom: 11px;
            border-bottom: 2px solid transparent;
            margin-right: 47px;
            font-size: 16px;

            &:not(.main-section__menu-item_active) {
                animation: slideupmenu 1s ease 1.5s forwards;
            }

            &_active {
                opacity: 0;
                border-bottom-color: $text;
                animation: slideupmenuactive 1s ease 1.5s forwards;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                opacity: 1;
                border-bottom-color: $text;

            }
        }
    }

    &__order-btn {
        position: absolute;
        right: 5.7%;
        top: 47px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: $text;
        opacity: 0;
        animation: slideuporderbtn 1s ease 2s forwards;
        transition: all .3s ease;

        &:hover {
            right: 5%;

            .main-section__order-arrow {
                right: -70px;
            }
        }
    }

    &__order-arrow {
        position: absolute;
        top: 25%;
        right: -40px;
        animation: slideuporderarrow 1s ease 1.5s forwards;
        width: 41px;
        height: 8px;
        transition: all .3s ease;
    }

    &__readmore-btn {
        position: absolute;
        display: inline-block;
        left: -58px;
        bottom: 30%;
        transform: rotate(-90deg);
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #1F1E20;
        opacity: 0;
        animation: slideupreadmorebtn 1s ease 2s forwards;
        transition: all .3s ease;

        &:hover {
            opacity: 1;
            bottom: 29%;

            .main-section__readmore-arrow {
                left: -70px;
            }
        }
    }

    &__readmore-arrow {
        position: absolute;
        transform: rotate(-180deg);
        left: -48px;
        top: 25%;
        animation: slideupreadmorearrow 1s ease 2s forwards;
        width: 41px;
        height: 8px;
        transition: all .3s ease;
    }

    &__soc {
        position: absolute;
        right: 0;
        opacity: 0;
        bottom: 19%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: slideupsoc 1s ease 2.5s forwards;
        transition: all .3s ease;

        &-link {
            height: 33px;
            width: 33px;
            margin-bottom: 22px;
            display: inline-block;
            transition: all .3s ease;

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                transform: scale(1.05);

                .main-section__soc-icon {
                    path {
                        fill: $text;
                    }
                }
            }
        }

        &-icon {
            height: 33px;
            width: 33px;
            transition: all .3s ease;
        }
    }

    &__title-wrapper {
        margin: 0 auto;
        left: 0;
        top: 47px;
        width: 100%;
        height: 100%;
        max-width: 1600px;
        background: url(/img/mainbg.png) 20% 100%/ contain no-repeat;
    }

    &__title-container {
        position: absolute;
        top: 40%;
        left: 12%;
    }

    &__title {
        font-weight: 300;
        font-size: 72px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $text;

        &-name {
            width: 47%;
            height: auto;
            display: inline-block;
            opacity: 0;
            animation: slideup 1s ease 0.3s forwards;
        }

        &-lastname {
            width: 47%;
            height: auto;
            display: inline-block;
            opacity: 0;
            margin-left: 11.5%;
            animation: slideup 1s ease 0.5s forwards;
        }

        &_rivertime {
            display: none;
            font-weight: 900;
            font-size: 170px;
            line-height: 219px;
            text-align: center;
            letter-spacing: 0.065em;
            text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
            text-transform: uppercase;
            transition: none;
        }

        &_deephouse {
            display: none;
            font-size: 114px;
            line-height: 139px;
            text-align: center;
            letter-spacing: 0.065em;
            text-transform: uppercase;
            text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__roles {
        margin-left: 11.5%;
        margin-top: 10px;
    }

    &__role {
        display: inline-block;
        font-size: 18px;
        line-height: 22px;
        color: #222222;
        opacity: 0;
        margin-right: 4%;
        animation: slideuprole 1s ease 0.5s forwards;
    }
}

.voice {
    background: url(img/secsectbg.png) 0 0/cover no-repeat, linear-gradient(180deg, rgb(25, 26, 28), rgb(25, 26, 28));
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20px;
        background: linear-gradient(180deg, transparent 0%, rgb(25, 26, 28) 70%);
    }

    &-wrapper {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: flex-end;
    }

    &__info {
        width: 50%;
    }

    &__subcol {
        width: 50%;
    }

    &__title {
        font-weight: 200;
        font-size: 64px;
        line-height: 99.6%;
        letter-spacing: -0.01em;
        margin-bottom: 50px;
    }

    &__genres {
        line-height: 177.6%;
        opacity: 0.8 !important;
        font-weight: 600;
        margin-bottom: 40px;

        &-title {
            font-weight: 400;
        }
    }

    &__desc {
        width: 100%;
        line-height: 2;
        opacity: 0.8 !important;
        margin-bottom: 50px;
        font-size: 18px;
    }

    &__video-title {
        margin-bottom: 70px;
    }
}

@keyframes video {
    0% {
        transform: translateY(105%);
        opacity: 0;
    }

    70% {
        transform: translateY(-10%);
        opacity: 0.8;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.video {
    width: 92%;
    position: relative;
    /*overflow: hidden;*/

    &-wrapper {
        transform: translateY(105%);

        &_visible {
            animation: video 1.3s ease-in-out forwards;
        }
    }

    &-container {
        position: relative;
    }

    &__stub {
        width: 100%;
        position: relative;
        cursor: pointer;

        &:hover {
            .video__play-btn {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }

        &-img {
            width: 100%;
            height: auto;
        }
    }

    &__play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 47px;
        height: 52px;
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &_hidden {
            display: none;
        }
    }

    &__label {
        font-size: 16px;
        margin-top: 30px;
        opacity: 0.8;
    }

    &_pos {
        margin-bottom: -20%;
    }
}

.hidden {
    display: none;
}

.gallery {
    padding-top: 140px;
}

.gallery,
.rivertime-video,
.deephouse-video {
    background: rgb(25, 26, 28);
    padding-top: 140px;
    padding-bottom: 140px;

    &__slider {
        width: 100%;
        margin: 0 auto;
        position: relative;
        height: 65vh;

        &-wrapper {
            position: relative;
        }

        &-arr {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) !important;
            height: 80px;
            width: 80px;
            cursor: pointer;
            outline: none;

            &_disable {
                pointer-events: none;
            }

            &:hover {
                g {
                    opacity: 1;
                }
            }

            &_left {
                left: -137px;
            }

            &_right {
                right: -137px;
            }
        }
    }

    &__title {
        margin-bottom: 45px;
    }

    &__slide {
        position: relative;
        height: 65vh;
        overflow: hidden;
        display: inline-block;

        img {
            margin: 0 auto;
        }

        .rivertime-video__video,
        .deephouse-video__video {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            height: auto;
            width: 100%;
            min-width: 100%;
            min-height: 100%;
        }
    }
}

.gallery {

    &__slider-arr {
        transform: translateY(-25%) !important;
    }

    &__slide {
        img {
            height: 100%;
            width: auto;
            object-fit: contain;
        }
    }
}

.title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    opacity: 0.33 !important;
}

.clients {
    background: rgb(25, 26, 28);

    &__title {
        margin-bottom: 110px;
    }

    &__table {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        width: 21%;
        margin-bottom: 105px;

        &:nth-last-child(1),
        &:nth-last-child(2),
        &:nth-last-child(3),
        &:nth-last-child(4) {
            margin-bottom: 0;
        }
    }

    &__icon {
        width: 100%;
        height: auto;

        &_gazprom {
            max-width: 141px;
            max-height: 70px;
        }

        &_vtb {
            max-width: 146px;
            max-height: 52px;
        }

        &_alfa {
            max-width: 182px;
            max-height: 64px;
        }

        &_sber {
            max-width: 211px;
            max-height: 60px;
        }

        &_epam {
            max-width: 126px;
            max-height: 46px;
        }

        &_toyota {
            max-width: 131px;
            max-height: 110px;
        }

        &_soho {
            max-width: 150px;
            max-height: 75px;
        }

        &_benz {
            max-width: 217px;
            max-height: 122px;
        }
    }
}

.order {
    background: rgb(25, 26, 28);
    padding-top: 140px;

    &-wrapper {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;

        flex-direction: column;
        width: 45%;
        max-width: 680px;
    }

    &__desc {
        font-weight: 300;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.05em;
    }

    &__sale {
        font-weight: 300;
        font-size: 144px;
        line-height: 1;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        opacity: 0.1;
    }

    &-form {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        width: 40%;

        &__container {
            width: 100%;
        }

        &__input {
            background: transparent;
            border: none;
            height: 100%;
            width: 100%;
            padding: 5px 0;
            color: #fff;
            font-size: 18px;
            height: 42px;
            outline: none;
            letter-spacing: 0.07em;
            font-weight: 300;
            line-height: 22px;
            position: relative;
            z-index: 5;

            &-container {
                position: relative;
                margin-bottom: 52px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: #fff;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0.05em;
                    transition: all .3s ease;
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background: #fff;
                    opacity: 0.3;
                    height: 1px;
                    transition: all .3s ease;
                }

                &_name {

                    &:before {
                        content: "Имя";
                    }
                }

                &_date {

                    &:before {
                        content: "Дата";
                    }
                }

                &_phone {
                    width: 100%;

                    &:before {
                        content: "Телефон для связи";
                    }
                }

                &_focused {
                    &:before {
                        top: -18px;
                        font-size: 11px;
                    }

                    &:after {
                        opacity: 1;
                    }
                }

                &_error {
                    .order-form__input {
                        color: #FF3030;
                        opacity: 0.9;
                    }

                    &:after {
                        opacity: 1;
                        background: #FF3030;
                    }

                    .order-form__error {
                        width: 25.98px;
                        height: 22.5px;
                        opacity: 1;
                    }

                    .order-form__error-msg {
                        opacity: 1;
                    }
                }

                &_success {
                    .order-form__input {
                        color: inherit;
                        opacity: 0.9;
                    }

                    &:after {
                        opacity: 1;
                        background: #fff;
                    }

                    .order-form__success {
                        opacity: 1;
                        width: 25px;
                        height: 25px;

                    }
                }
            }
        }

        &__error-msg {
            position: absolute;
            left: 0;
            bottom: -25px;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.05em;
            color: #FF3030;
            opacity: 0;
        }

        &__error,
        &__success {
            position: absolute;
            right: 0;
            bottom: 10px;
            opacity: 0;
        }

        &__send-btn-container {
            border: 1px solid rgba(255, 255, 255, 0.2);
            width: 260px;
            margin-top: 60px;
            position: relative;

            &:hover {
                border: 1px solid rgb(255, 255, 255);
                background: #fff;

                .order-form__send-btn {
                    color: #252628;
                }

                .order-form__arrow {

                    path {
                        fill: #252628;
                    }
                }
            }
        }

        &__send-btn {
            background: transparent;
            border: none;
            color: #fff;
            opacity: 1;
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.05em;
            padding: 21px 100px 21px 33px;
            width: 100%;
            cursor: pointer;
            text-align: left;
            outline: none;
            font-family: Montserrat, sans-serif;

            &:focus {
                background: rgba(255, 255, 255, 0.05);
            }

            &:active {
                transform: scale(1.05);
            }
        }

        &__arrow {
            position: absolute;
            top: 43%;
            right: 40px;
            width: 41px;
            height: 8px;
        }
    }
}

.contacts {
    background: rgb(25, 26, 28);
    padding-top: 140px;
    padding-bottom: 140px;

    &__table {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        width: 95%;
        align-items: center;

        &-soc {
            margin-top: 60px;
            display: none;

            &-link {
                margin-right: 35px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__phone,
    &__email {
        font-weight: 300;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.05em;
        color: #fff;
    }
}

.rivertime,
.deephouse {
    background: rgb(25, 26, 28);

    &__mobile-labels {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 23px;
        display: none;
    }

    &__mobile-arrow {
        width: 8px;
        height: 12px;
    }

    &-wrapper {
        width: 70%;

        &_clicked {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            z-index: 1000;
            transform-origin: bottom;

            .rivertime__photo {
                bottom: 0;
            }
        }
    }

    &__pic {
        cursor: pointer;

        &:hover {

            .rivertime__readmore-arrow,
            .deephouse__readmore-arrow {
                top: 60px;
            }
        }
    }

    &__photo {
        width: 100%;
        height: auto;
        position: relative;
        bottom: -3px;
    }

    &__labels {
        position: absolute;
        bottom: 12%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__title {
        font-weight: 300;
        font-size: 64px;
        line-height: 78px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    &__readmore-btn {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #fff;
        padding-bottom: 47px;
        position: relative;
    }

    &__readmore-arrow {
        transform: translateX(-50%) rotate(90deg);
        position: absolute;
        top: 50px;
        left: 50%;
        width: 41px;
        height: 8px;

        path {
            fill: #fff;
        }
    }
}

/* RIVERTIME SECTIONS*/

.members {
    background: rgb(25, 26, 28);
    padding-top: 140px;

    &-wrapper {
        margin: 0 0 0 18%;
        width: 82%;
    }

    &__slider-container {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
    }

    &__slider-nav {
        position: relative;
        width: 20%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 60;
    }

    &__nav {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-100%);
        text-align: center;

        &-arr {
            outline: none;
            cursor: pointer;
            box-sizing: border-box;
            width: 81px;
            height: 80px;

            &_disable {
                pointer-events: none;
            }

            &_left {
                margin-right: 40px;
            }

            &:hover {
                g {
                    opacity: 1;
                }
            }
        }
    }

    &__slider-count {
        text-align: center;
        position: relative;
        top: -100px;
        font-size: 18px;
        line-height: 177.6%;
        text-align: center;
        opacity: 0.5;
    }

    &-info,
    .deephouse-video-info {
        width: 100%;

        &__genres {
            line-height: 177.6%;
            opacity: 0.8 !important;
            font-weight: 500;
            margin-left: 30%;

            &-title {
                font-weight: 400;
                opacity: 0.8;
            }
        }

        &__desc {
            margin-top: 30px;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.8;
            opacity: 0.7 !important;
            width: 45%;
            margin-bottom: 66px;
            margin-left: 30%;
        }

        &__group {
            margin-bottom: 70px;
            margin-left: 30%;
            margin-top: 140px;
        }

        &__container {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
        }

        &__slider {
            width: 70%;

            .slick-list {
                margin-right: -40px;
            }

            .slick-slide {
                margin-right: 40px;
                z-index: 3;
            }
        }

        &__slide {
            opacity: 0.5;
            padding-top: 30px;
            margin-right: 40px;

            &.slick-current {
                opacity: 1;
                transform: translateY(-30px);
            }

            &.slick-cloned {
                visibility: hidden;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        &__name {
            display: inline-block;
            font-size: 20px;
            line-height: 177.6%;
            color: #fff;
            margin-top: 15px;
        }

        &__position {
            display: block;
            font-weight: 600;
            font-size: 14px;
            line-height: 177.6%;
            opacity: 0.4;
            color: #fff;
        }
    }

    .deephouse-video-info {
        width: 70%;
    }
}

.rivertime-video,
.deephouse-video {
    background: rgb(25, 26, 28);

    &-info__desc {
        margin-bottom: 140px;
    }

    &__slide {
        cursor: pointer;

        &:hover {
            .video__play-btn {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }
    }

    &__nav {
        margin-top: 30px;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 5%;
            background: linear-gradient(to right, rgba(25, 26, 28, 0) 0%, rgb(25, 26, 28) 70%);
            z-index: 100;
        }

        &item {
            opacity: 0.3;
            font-size: 16px;
            line-height: 177.6%;
            color: #fff;
            margin-right: 97px;

            &.slick-cloned {
                visibility: hidden;
            }

            &.slick-current {
                opacity: 0.8;
                font-weight: 600;
            }
        }
    }
}

.deephouse-video {
    background: url(img/deephousebg.png) 0 0/cover no-repeat, linear-gradient(180deg, rgb(25, 26, 28), rgb(25, 26, 28));
    position: relative;
    padding-bottom: 140px;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 5%;
        width: 100%;
        background: linear-gradient(to top, rgb(25, 26, 28), transparent);
    }

    &-info {
        width: 70%;

        &__genres {
            line-height: 177.6%;
            opacity: 0.8 !important;
            font-weight: 500;

            &-title {
                font-weight: 400;
                opacity: 0.8;
            }
        }

        &__desc {
            margin-top: 30px;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.8;
            opacity: 0.7 !important;
            width: 74%;
        }
    }
}

@media (min-width: 2000px) {
    .main-section__title-wrapper {
        background: url(img/mainbg.png) 60% 100%/cover no-repeat;
    }

    .main-section__title-container {
        left: 15%;
    }
}

@media (max-width: 1600px) {
    .main-section__title-wrapper {
        background: url(img/mainbg.png) 60% 100%/cover no-repeat;
    }

    .voice {
        &__title {
            width: 200%;
        }

        &__subcol {
            width: 50%;
        }

        &__info {
            width: 50%;
        }

        &__desc {
            width: 130%;
        }
    }
}


@media (max-width: 1300px) {

    .main-container_rivertime {
        background: url(../img/rivertimebg.jpg) center/cover no-repeat, linear-gradient(180deg, #e7e5e8, #e7e5e8);
    }

    .voice {
        &__title {
            font-size: 60px;
        }

        &__desc {
            font-size: 16px;
        }
    }

    .deephouse-video-info__desc {
        font-size: 16px;
    }

    .wrapper:not(.members-wrapper) {
        width: 75%;
    }

    .video__label {
        font-size: 14px;
    }

    .gallery__slider-arr_left,
    .rivertime-video__slider-arr_left,
    .deephouse-video__slider-arr_left {
        left: -120px;
    }

    .gallery__slider-arr_right,
    .rivertime-video__slider-arr_right,
    .deephouse-video__slider-arr_right {
        right: -120px;
    }

    .gallery__slider-arr,
    .members__nav-arr {
        height: 75px;
        width: 75px;
    }

    .order__desc {
        font-size: 32px;
    }

    .order__sale {
        font-size: 132px;
    }

    .order-form__send-btn-container {
        width: 250px;
    }

    .contacts__email,
    .contacts__phone {
        font-size: 32px;
    }

    .title {
        font-size: 16px;
    }

    .main-section__menu-item,
        {
        font-size: 14px;
    }

    .main-section__order-btn,
    .main-section__readmore-btn {
        font-size: 11px;
    }

    .main-section__title_rivertime {
        font-size: 130px;
    }

    .main-section__soc-icon,
    .main-section__soc-link {
        width: 25px;
        height: 25px;
    }

    .main-section__soc-link {
        margin-bottom: 18px;
    }

    .members__nav-arr_left {
        margin-right: 25px;
    }

    .members-info__desc {
        font-size: 16px;
    }

    .members-info__name {
        font-size: 16px;
    }

    .members-info__position {
        font-size: 12px;
    }

    .members {
        padding-bottom: 0;
    }

    .main-container_deephouse .main-container__videobg {
        height: 100vh;
        width: auto;
    }

    .deephouse-video__navitem,
    .rivertime-video__navitem {
        font-size: 14px;
    }
}

@media (max-width: 1192px) {
    .main-section {
        height: 80vh;
    }

    .main-section__title-wrapper {
        background: url(img/mainbg.png) 65% 100%/cover no-repeat;
    }

    .deephouse-video__slide,
    .deephouse-video__slider,
    .rivertime-video__slide,
    .rivertime-video__slider,
    .gallery__slider,
    .gallery__slide {
        height: 430px;
    }

    .main-section__title-container {
        left: 8%;
    }

    .gallery__slider-arr_left,
    .rivertime-video__slider-arr_left,
    .deephouse-video__slider-arr_left {
        left: -110px;
    }

    .gallery__slider-arr_right,
    .rivertime-video__slider-arr_right,
    .deephouse-video__slider-arr_right {
        right: -110px;
    }

    .contacts__table {
        width: 100%;
    }

    .members-info__slider .slick-slide {
        margin-right: 30px;
    }

    .members-info__slider .slick-list {
        margin-right: -30px;
    }

    .members__slider-nav {
        width: 25%;
    }

    .deephouse-video__navitem,
    .rivertime-video__navitem {
        margin-right: 80px;
    }

    .main-section__title_rivertime {
        font-size: 115px;
    }

    .main-section__title_deephouse {
        font-size: 90px;
    }

}

@media (max-width: 950px) {

    .main-section * {
        z-index: 5;
    }

    .main-section__title-wrapper {
        height: 95%;
        z-index: 1 !important;
        top: auto;
        bottom: 0;
        position: absolute;
    }

    .main-section__title-container {
        top: 37%;
    }

    .main-section__title {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;


        &-name {
            margin-bottom: 20px;
        }
    }

    .voice__title {
        font-size: 48px;
    }

    .voice {
        &__desc {
            font-size: 14px;
        }
    }

    .deephouse-video-info__desc,
    .members-info__desc,
        {
        font-size: 14px;
    }

    .deephouse-video-info__genres-title {
        font-size: 12px;
    }

    .main-section__role {
        font-size: 16px;
    }

    .video__label {
        font-size: 12px;
        margin-top: 20px;
    }

    .title {
        font-size: 14px;
    }

    .gallery__slider-arr,
    .rivertime-video__slider-arr,
    .deephouse-video__slider-arr {
        display: none;
    }

    .gallery__slide {
        margin-right: 30px;
    }

    .clients__item {
        text-align: center;
    }

    .order__desc {
        font-size: 24px;
        line-height: 35px;
    }

    .order__sale {
        font-size: 124px;
    }

    .order-form__input-container:before {
        font-size: 14px;
    }

    .order-form__send-btn-container {
        width: 200px;
    }

    .order-form__send-btn {
        padding: 17px 90px 17px 23px;
        font-size: 16px;
    }

    .order-form__arrow {
        right: 25px;
    }

    .contacts__email,
    .contacts__phone {
        font-size: 24px;
    }

    .rivertime__subtitle,
    .deephouse__subtitle {
        font-size: 20px;
    }

    .rivertime__title,
    .deephouse__title {
        font-size: 56px;
        line-height: 62px;
    }

    .deephouse__readmore-arrow,
    .rivertime__readmore-arrow {
        transform: translateX(-50%) translateY(-150%) rotate(90deg)
    }

    .main-section__title_rivertime {
        font-size: 100px;
    }

    .deephouse-video__nav,
    .rivertime-video__nav {
        margin-top: 15px;
    }

    .members-wrapper {
        width: 100%;
        margin: 0;
    }

    .deephouse-video__navitem,
    .rivertime-video__navitem {
        margin-right: 100px;
    }

    .main-section__title_deephouse {
        font-size: 70px;
    }

    .deephouse-video-info {
        width: 60%;
    }

    .deephouse-video-info__desc {
        width: 100%;
    }

    .members__nav-arr {
        width: 60px;
        height: 60px;
    }

    .members__slider-count {
        font-size: 14px;
    }

    .members__nav-arr_left {
        margin-right: 15px;
    }

    .members-info__name {
        font-size: 14px;
    }

    .clients__title {
        margin-bottom: 80px;
    }
}

@media (max-width: 860px) {
    .modal {
        width: 60%;
        padding: 6% 7% 3%
    }

    .preloader__icon {
        width: 30%;

        svg {
            width: 100% !important;
            height: auto !important;
        }
    }

    .main-section__title-wrapper {
        background: url(../img/mainbg.png) 65% 100%/cover no-repeat;
    }

    .main-container_deephouse .main-container__videobg {
        left: -50%;
    }

    .main-section__title-container {
        left: 0;
    }

    .deephouse-video__slide,
    .gallery__slide,
    .rivertime-video__slider,
    .deephouse-video__slider,
    .rivertime-video__slide {
        height: 55vh;
    }

    .main-section__title_rivertime {
        font-size: 86px;
        line-height: 100px;
    }

    .main-section__title-wrapper {
        height: 90%;
    }

    .members .deephouse-video-info__desc {
        width: 80%;
    }

    .members-info__desc {
        width: 60%;
    }

    .deephouse-video__navitem,
    .rivertime-video__navitem {
        margin-right: 60px;
    }

    .deephouse__title,
    .rivertime__title {
        font-size: 48px;
        margin-bottom: 15px;
    }

    .deephouse__readmore-btn,
    .rivertime__readmore-btn {
        padding-bottom: 0;
    }

    .deephouse__labels,
    .rivertime__labels {
        bottom: 20%;
    }

    .main-section__title_deephouse {
        font-size: 64px;
    }

    .voice__desc {
        width: 160%;
    }

    .wrapper:not(.members-wrapper) {
        width: 80%;
    }

    .deephouse-video__slide,
    .deephouse-video__slider,
    .gallery__slide,
    .rivertime-video__slide,
    .rivertime-video__slider {
        height: 350px;
    }
}

@media (max-width: 670px) {

    @keyframes slideupreadmorebtn {
        0% {
            opacity: 0;
            bottom: 22%;
        }

        100% {
            opacity: 0.5;
            bottom: 20%;
        }
    }

    @keyframes slideupreadmorearrow {
        0% {
            left: -48px;
        }

        100% {
            left: -60px;
        }
    }

    @keyframes slideupsoc {
        0% {
            opacity: 0;
            bottom: 10%;
        }

        100% {
            opacity: 1;
            bottom: 7%;
        }
    }

    .main-section__menu-item {
        margin-right: 25px;
    }

    .main-section__readmore-btn {
        bottom: 20%;
    }

    .disable-animation .main-section__soc {
        bottom: 7%;
    }

    .main-section__title-container {
        left: 2%;
    }

    .clients__item {
        margin-bottom: 50px;
    }

    .order__desc {
        font-size: 20px;
    }

    .order__sale {
        font-size: 120px;
    }

    .contacts__table {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    .title {
        font-size: 18px;
    }

    .deephouse-video__title,
    .gallery__title,
    .rivertime-video__title {
        margin-bottom: 25px;
    }

    .clients__title {
        margin-bottom: 50px;
    }

    .deephouse__title,
    .rivertime__title {
        font-size: 40px;
        line-height: 42px;
    }

    .deephouse__subtitle,
    .rivertime__subtitle {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .main-section__title_rivertime {
        font-size: 70px;
    }

    .main-container_rivertime .main-section__title-container {
        bottom: 20%;
    }

    .main-section__title_deephouse {
        font-size: 54px;
    }

    .deephouse-video-info {
        width: 80%;
    }

    .contacts__title {
        margin-bottom: 20px;
    }

    .voice__video-title {
        margin-bottom: 30px;
    }

    .voice-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .voice__info,
    .voice__subcol {
        width: 100%;
    }

    .voice__desc {
        width: 100%;
    }

    .voice {
        padding-bottom: 0;
    }

    .video {
        width: 75%;
    }

    .video_pos {
        margin-bottom: 0;

    }

    .voice__subcol {
        margin-top: 50px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-end;
    }

    .video__label {
        width: 70%;
        font-size: 14px;
    }

    .main-section__mobile-menu {
        display: block;
    }

    .main-section__menu,
    .main-section__order-btn,
    .main-section__readmore-btn,
    .main-section__soc {
        display: none;
    }

    .main-section {
        height: 80vh;
    }

    .contacts__table-soc {
        display: block;
    }

    .modal {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #191A1C;

        &_active {
            display: flex !important;
        }
    }

    .modal-success__text {
        order: 1;
        margin: 10% 0 0;
        line-height: 140.4%;
        color: #FFFFFF;
    }

    .modal-success__icon {
        width: 117px;
        height: 117px;
        margin-bottom: 75px;
        margin-top: 75px;
        order: 2;
    }

    .modal-success__btn {
        width: 93%;
        background: transparent;
        line-height: 15px;
        color: #fff;
        order: 3;
    }
}

@media (max-width: 570px) {
    .modal {
        width: 75%;
        padding: 6% 7% 3%
    }

    .modal-success__text {
        font-size: 16px;
    }

    .modal-success__btn {
        padding: 15px 70px;
        font-size: 16px;
    }

    .main-section__wrapper {
        width: 100%;
        padding: 0 5%;
    }

    .main-section__title-container {
        left: 5%;
    }

    .main-section__roles {
        margin-top: 20px;
    }

    .voice__title {
        font-size: 44px;
    }

    .video {
        width: 85%;
    }

    .wrapper:not(.members-wrapper) {
        width: 90%;
    }

    .members__slider-nav {
        display: none;
    }

    .members-info__genres,
    .members-info__desc,
    .members-info__group {
        margin-left: 5%;
    }

    .members-info__desc {
        width: 80%;
    }

    .members-info {
        width: 100%;
    }

    .members-info__slider {
        width: 100%;
    }

    .members-info__group {
        margin-bottom: 50px;
    }

    .members-info__name {
        font-size: 16px;
    }

    .members-info__position {
        font-size: 14px;
    }

    .deephouse-video__slide,
    .deephouse-video__slider,
    .gallery__slide,
    .gallery__slider,
    .rivertime-video__slide,
    .rivertime-video__slider {
        height: 300px;
    }

    .main-section__title_deephouse {
        font-size: 50px;
    }

    .order__sale {
        font-size: 100px;
    }

    .order__desc {
        width: 50%;
        font-size: 18px;
    }

    .order-wrapper {
        flex-direction: column;
    }

    .order-form {
        margin-top: 50px;
        width: 100%;
    }

    .order__title {
        width: 100%;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;

    }

    .main-container_deephouse .main-container__videobg {
        left: -90%;
    }

    .rivertime__mobile-labels,
    .deephouse__mobile-labels {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }

    .rivertime__labels,
    .deephouse__labels {
        display: none;
    }

    .rivertime-wrapper,
    .deephouse-wrapper {
        width: 100% !important;
    }
}

@media (max-width: 495px) {

    .voice,
    .gallery,
    .order,
    .contacts,
    .members,
    .deephouse-video,
    .rivertime-video {
        padding-top: 65px;
    }

    .gallery,
    .contacts,
    .deephouse-video,
    .rivertime-video {
        padding-bottom: 65px;
    }

    .deephouse-video-info__group,
    .members-info__group {
        margin-top: 65px;
    }

    .deephouse-video-info__desc,
    .rivertime-video-info__desc {
        margin-bottom: 65px;
    }

    .modal {
        width: 100%;
    }

    .video__play-btn {
        width: 19px;
        height: 22px;
    }

    .main-section__roles {
        margin-left: 0;
    }

    .main-section {
        height: 550px;
    }

    .video__label {
        width: 100%;
    }

    .deephouse-video__slide,
    .gallery__slider,
    .deephouse-video__slider,
    .gallery__slide,
    .rivertime-video__slide,
    .rivertime-video__slider {
        height: 280px;
    }

    .clients__item {
        margin-bottom: 30px;
    }

    .clients__item:nth-child(3),
    .clients__item:nth-child(6) {
        text-align: center;
    }

    .gallery-wrapper {
        padding-bottom: 60px;
    }

    .members-info__group,
    .clients__title {
        margin-bottom: 25px;
    }

    .deephouse-video__slide,
    .deephouse-video__slider,
    .gallery__slide,
    .gallery__slider,
    .rivertime-video__slide,
    .rivertime-video__slider {
        height: 250px;
    }

    .deephouse-video__navitem,
    .rivertime-video__navitem {
        margin-right: 10px;
    }

    .deephouse-video__navitem,
    .rivertime-video__navitem {
        font-size: 12px;
    }

    .order__desc {
        font-size: 14px;
        line-height: 1.9;
    }

    .order__sale {
        font-size: 90px;
    }

    .order-form {
        margin-top: 25px;
    }

    .order-form__send-btn-container {
        margin-top: 50px;
    }

    .main-section__title_deephouse {
        font-size: 46px;
    }

    .main-section__mobile {
        text-align: center;
    }

    .main-section__mobile-orderbtn {
        display: inline-block;
        width: auto;
        height: auto;
        padding: 18px 48px 21px;
    }
}


@media (max-width: 440px) {
    .main-section__title_deephouse {
        font-size: 38px;
    }

    .main-section__title-name {
        margin-bottom: 15px;
    }

    .main-section__role {
        margin-right: 15px;
        font-size: 12px;
    }

    .video__label {
        font-size: 12px;
    }

    .main-section__title_rivertime {
        font-size: 54px;
    }

    .voice__title {
        font-size: 38px;
    }

    .deephouse__pic,
    .rivertime__pic {
        height: 334px;
    }

    .deephouse__photo,
    .rivertime__photo {
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 375px) {
    .modal {
        padding: 10% 7% 7%;
    }

    .modal-success__text {
        margin: 10% 0 0;
    }

    .modal-success__btn {
        font-size: 12px;
    }

    .main-section__title-wrapper {
        background: url(../../img/mainbg.png) 68% 100%/cover no-repeat;
    }

    .main-section__title-wrapper {
        height: 95%;
    }

    .main-section__title-container {
        top: 50%;
    }

    .main-section {
        height: 490px;
    }

    .voice__title {
        font-weight: 200;
        font-size: 24px;
        line-height: 113.1%;
    }

    .wrapper:not(.members-wrapper) {
        width: 88%;
    }

    .voice__title {
        margin-bottom: 16px;
    }

    .voice__genres {
        margin-bottom: 35px;
    }

    .title {
        margin-bottom: 30px;
    }

    .video {
        width: 70%;
    }

    .voice__subcol {
        margin-top: 40px;
    }

    .deephouse-video__slide,
    .deephouse-video__slider,
    .gallery__slide,
    .gallery__slider,
    .rivertime-video__slide,
    .rivertime-video__slider {
        height: 172px;
    }

    .clients__title {
        margin-bottom: 50px;
    }

    .clients {
        padding-bottom: 40px;
    }

    .order__sale {
        font-size: 48px;
        line-height: 59px;
    }

    .order__desc {
        width: 65%;
        line-height: 22px;
    }

    .order-form__input-container_name,
    .order-form__input-container_date {
        width: 100%;
    }

    .order-form__input-container_date {
        margin-top: 37px;
    }

    .order-form__container_top {
        flex-wrap: wrap;
    }

    .order-form__send-btn-container {
        width: 100%;
    }

    .voice {
        padding-bottom: 30px;
    }

    .order-form__send-btn {
        padding: 21px 45px 22px 36px;
    }

    .order-form__arrow {
        right: 45px;
    }

    .order-form__error-msg {
        bottom: -19px;
    }

    .contacts__title {
        margin-bottom: 35px;
    }

    .main-section__title_rivertime {
        font-size: 48px;
    }

    .members-info__desc {
        margin-top: 35px;
    }

    .members-info__desc,
    .members-info__genres,
    .members-info__group {
        padding-left: 5%;
        padding-right: 5%;
    }

    .members-info__desc {
        width: 100%;
    }

    .members-info__name {
        font-size: 14px;
        padding-left: 5px;
    }

    .members-info__position {
        font-size: 12px;
        padding-left: 5px;
    }

    .deephouse-video__navitem,
    .rivertime-video__navitem {
        font-size: 10px;
    }

    .deephouse-video,
    .rivertime-video {
        padding-bottom: 85px;
    }

    .deephouse__title,
    .rivertime__title {
        font-size: 36px;
    }

    .main-container_deephouse .main-container__videobg {
        left: -170%;
    }

    .main-section__title_deephouse {
        font-size: 32px;
    }

    .main-section__mobile-orderbtn {
        padding: 18px 5px 21px;
        width: 100%;
    }
}

@media (max-width: 320px) {
    .main-section {
        height: 470px;
    }

    .main-section__role {
        margin-right: 10px;
    }

    .main-section__title_rivertime {
        font-size: 42px;
    }

    .deephouse__title,
    .rivertime__title {
        font-size: 32px;
    }

    .deephouse-video,
    .rivertime-video {
        padding-bottom: 50px;
    }

}