$text: #3D3D3D;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .3s ease;
}

ul {
    list-style: none;
}

html {
    font-size: 14px;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    cursor: default;
    color: #fff;
    background: #e7e5e8;
    overflow-x: hidden;
    position: relative;
}

section {
    width: 100%;
    position: relative;
    background: #fff;
}

a {
    text-decoration: none;
}

input,
textarea,
button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

@keyframes slideup {
    from {
        opacity: 0;
        margin-top: 30px;

    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes slideuprole {
    from {
        opacity: 0;
        margin-top: 30px;

    }

    to {
        opacity: 0.55;
        margin-top: 0;
    }
}

@keyframes slideupmenu {
    from {
        opacity: 0;
        margin-top: 30px;

    }

    to {
        opacity: 0.66;
        margin-top: 0;
    }
}

@keyframes slideupmenuactive {
    0% {
        opacity: 0;
        margin-top: 30px;
        border-bottom-color: transparent;
    }

    90% {
        opacity: 0.66;
        margin-top: 0;
        border-bottom-color: transparent;
    }

    100% {
        opacity: 1;
        border-bottom-color: $text;
    }
}

@keyframes slideuporderbtn {
    0% {
        opacity: 0;
        margin-top: 20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes slideuporderarrow {
    0% {
        right: -40px;
    }

    100% {
        right: -60px;
    }
}

@keyframes slideupreadmorebtn {
    0% {
        opacity: 0;
        bottom: 32%;
    }

    100% {
        opacity: 0.5;
        bottom: 30%;
    }
}

@keyframes slideupreadmorearrow {
    0% {
        left: -48px;
    }

    100% {
        left: -60px;
    }
}

@keyframes slideupsoc {
    0% {
        opacity: 0;
        bottom: 19%;
    }

    100% {
        opacity: 1;
        bottom: 17%;
    }
}

@keyframes slideuprivertime {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.disabled-scroll {
    overflow: hidden;
}

.preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #e7e5e8;


    &_hidden {
        display: none;

        &__icon {
            display: none;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__progress {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #e7e5e8;
        height: 100%;
    }
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 800;
    background: rgb(25, 26, 28);
    display: none;
    opacity: 0;

    &_active {
        display: block;
        opacity: 0.2;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 900;
    background: #fff;
    padding: 4% 10% 3%;
    color: #000;
    text-align: center;
    display: none;

    &_active {
        display: block;
    }

    &-success {
        &__icon {
            width: 40%;
            height: 40%;
        }

        &__text {
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.05em;
            margin: 10% 0 15%;
        }

        &__btn {
            border: 1px solid #808080;
            color: $text;
            font-weight: 300;
            background: #fff;
            padding: 20px 75px;
            cursor: pointer;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.05em;

            &:hover {
                background: $text;
                color: #fff;
            }
        }
    }
}

.wrapper {
    margin: 0 auto;
    width: 65%;
    position: relative;
}

.section_hidden {
    display: none;
}

.main-container {
    background: linear-gradient(180deg, #e7e5e8, #e7e5e8);
    position: relative;

    &__videobg {
        display: none;
    }

    &_rivertime {
        background: url(img/rivertimebg.jpg) 0 0/ cover no-repeat,
            linear-gradient(180deg, #e7e5e8, #e7e5e8);

        .main-section__title_rivertime {
            display: block;
            animation: slideuprivertime 1s ease forwards;

        }

        &__videobg {
            display: none;
        }
    }

    &_rivertime,
    &_deephouse {
        .main-section {
            background: none;

            &__menu-item {
                color: #fff;

                &_active {
                    border-bottom: 2px solid #fff;
                }

                &:hover {
                    opacity: 1;
                    border-bottom-color: #fff;
                }
            }

            &__readmore-btn,
            &__order-btn {
                color: #fff;
            }

            &__readmore-arrow,
            &__order-arrow {
                path {
                    fill: #fff;
                }
            }

            &__soc-link {
                opacity: 0.9;

                &:hover {
                    opacity: 1;

                    .main-section__soc-icon path {
                        fill: #fff;
                    }
                }
            }

            &__soc-icon {
                path {
                    fill: #fff;
                }
            }

            &__title,
            &__roles {
                display: none;
            }

            &__title-container {
                top: auto;
                left: 50%;
                bottom: 15%;
                transform: translateX(-50%);
            }
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(25, 26, 28, 0.4);
        z-index: 2;
        display: none;
    }

    &_deephouse {


        .main-container__videobg {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        &:after {
            display: block;
        }

        .main-section {
            background: transparent;

            &__wrapper * {
                z-index: 20;
            }

            &__title_deephouse {
                animation: slideup 1s ease forwards;
                display: block;
            }
        }


    }
}

.disable-animation {
    .main-section {

        &__menu-item {

            &:not(.main-section__menu-item_active) {
                opacity: 0.66;
                animation: none;
            }

            &_active {
                opacity: 1;
                animation: none;
            }

            &:hover {
                opacity: 1;
            }
        }

        &__order-btn {
            opacity: 1;
            animation: none;

            &:hover {
                right: 5%;

                .main-section__order-arrow {
                    right: -70px;
                }
            }
        }

        &__order-arrow {
            right: -60px;
            animation: none;
        }

        &__readmore-btn {
            opacity: 0.5;
            animation: non;

            &:hover {
                opacity: 1;

                .main-section__readmore-arrow {
                    left: -70px;
                }
            }
        }

        &__readmore-arrow {
            animation: none;
        }

        &__soc {
            opacity: 1;
            animation: none;
            bottom: 17%;
        }

        &__title {
            /* &-name {
                opacity: 1;
                animation: none;
            }

            &-lastname {
            	transition: all 0s;
                opacity: 1;
                animation: none;
            }*/
        }

        /*&__role {
            opacity: 0.66;
            animation: none;
        }*/
    }
}

.main-section {
    height: 100vh;
    background: url(/img/mainbg.jpg) 20% 100%/ contain no-repeat;

    &__wrapper {
        margin: 0 auto;
        width: 83.5%;
        position: relative;
        height: 100%;
    }

    &__menu {
        position: absolute;
        top: 47px;
        left: 0;

        &-item {
            display: inline-block;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $text;
            cursor: pointer;
            opacity: 0;
            padding-bottom: 11px;
            border-bottom: 2px solid transparent;
            margin-right: 47px;
            font-size: 16px;

            &:not(.main-section__menu-item_active) {
                animation: slideupmenu 1s ease 1.5s forwards;
            }

            &_active {
                opacity: 0;
                border-bottom-color: $text;
                animation: slideupmenuactive 1s ease 1.5s forwards;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                opacity: 1;
                border-bottom-color: $text;

            }
        }
    }

    &__order-btn {
        position: absolute;
        right: 5.7%;
        top: 47px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: $text;
        opacity: 0;
        animation: slideuporderbtn 1s ease 2s forwards;

        &:hover {
            right: 5%;

            .main-section__order-arrow {
                right: -70px;
            }
        }
    }

    &__order-arrow {
        position: absolute;
        top: 25%;
        right: -40px;
        animation: slideuporderarrow 1s ease 1.5s forwards;
        width: 41px;
        height: 8px;
    }

    &__readmore-btn {
        position: absolute;
        display: inline-block;
        left: -58px;
        bottom: 30%;
        transform: rotate(-90deg);
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #1F1E20;
        opacity: 0;
        animation: slideupreadmorebtn 1s ease 2s forwards;

        &:hover {
            opacity: 1;
            bottom: 29%;

            .main-section__readmore-arrow {
                left: -70px;
            }
        }
    }

    &__readmore-arrow {
        position: absolute;
        transform: rotate(-180deg);
        left: -48px;
        top: 25%;
        animation: slideupreadmorearrow 1s ease 2s forwards;
        width: 41px;
        height: 8px;
    }

    &__soc {
        position: absolute;
        right: 0;
        opacity: 0;
        bottom: 19%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: slideupsoc 1s ease 2.5s forwards;

        &-link {
            height: 33px;
            width: 33px;
            margin-bottom: 22px;
            display: inline-block;

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                transform: scale(1.05);

                .main-section__soc-icon {
                    path {
                        fill: $text;
                    }
                }
            }
        }

        &-icon {
            height: 33px;
            width: 33px;
        }
    }

    &__title-container {
        position: absolute;
        top: 40%;
        left: 12%;

        & * {
            transition: none;
        }
    }

    &__title {
        font-weight: 300;
        font-size: 72px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $text;



        &-name {
            width: 47%;
            height: auto;
            display: inline-block;
            opacity: 0;
            animation: slideup 1s ease 0.3s forwards;
        }

        &-lastname {
            width: 47%;
            height: auto;
            display: inline-block;
            opacity: 0;
            margin-left: 11.5%;
            animation: slideup 1s ease 0.5s forwards;
        }

        &_rivertime {
            display: none;
            font-weight: 900;
            font-size: 170px;
            line-height: 219px;
            text-align: center;
            letter-spacing: 0.065em;
            text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
            text-transform: uppercase;
        }

        &_deephouse {
            display: none;
            font-size: 114px;
            line-height: 139px;
            text-align: center;
            letter-spacing: 0.065em;
            text-transform: uppercase;
            text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__roles {
        margin-left: 11.5%;
        margin-top: 10px;
    }

    &__role {
        display: inline-block;
        font-size: 18px;
        line-height: 22px;
        color: #222222;
        opacity: 0;
        margin-right: 4%;
        animation: slideuprole 1s ease 0.5s forwards;
    }
}

.voice {
    background: url(img/secsectbg.png) 0 0/contain no-repeat, linear-gradient(180deg, rgb(25, 26, 28), rgb(25, 26, 28));
    padding-top: 12%;
    padding-bottom: 15%;

    &-wrapper {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: flex-end;

    }

    &__info {
        width: 55%;
    }

    &__title {
        font-weight: 200;
        font-size: 64px;
        line-height: 99.6%;
        letter-spacing: -0.01em;
        margin-bottom: 50px;
    }

    &__genres {
        line-height: 177.6%;
        opacity: 0.8 !important;
        font-weight: 600;
        margin-bottom: 40px;

        &-title {
            font-weight: 400;
        }
    }

    &__desc {
        width: 100%;
        line-height: 2;
        opacity: 0.8 !important;
        margin-bottom: 50px;
        font-size: 18px;
    }

    &__video-title {
        margin-bottom: 70px;

    }
}

.video {
    width: 92%;
    position: relative;

    &-container {
        position: relative;
    }

    &__stub {
        width: 100%;
        position: relative;
        cursor: pointer;

        &:hover {
            .video__play-btn {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }

        &-img {
            width: 100%;
            height: auto;
        }
    }

    &__play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 47px;
        height: 52px;
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &_hidden {
            display: none;
        }
    }

    &__label {
        font-size: 16px;
        margin-top: 30px;
        opacity: 0.8;
    }

    &_pos {
        margin-bottom: -20%;
    }
}

.hidden {
    display: none;
}

.gallery,
.rivertime-video,
.deephouse-video {
    background: rgb(25, 26, 28);
    padding-bottom: 10%;

    &__slider,
        {
        width: 100%;
        margin: 0 auto;
        position: relative;
        height: 65vh;

        &-arr {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) !important;
            height: 80px;
            width: 80px;
            cursor: pointer;
            outline: none;

            &:hover {
                g {
                    opacity: 1;
                }
            }

            &_left {
                left: -137px;
            }

            &_right {
                right: -137px;
            }
        }
    }

    &__title {
        margin-bottom: 45px;
    }

    &__slide {
        position: relative;
        height: 65vh;
        overflow: hidden;

        .rivertime-video__video,
        .deephouse-video__video {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            height: auto;
            width: 100%;
            min-width: 100%;
            min-height: 100%;
        }
    }
}

.gallery {
    &__slide {
        img {
            height: 100%;
            width: auto;
            object-fit: contain;
        }
    }
}

.title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    opacity: 0.33 !important;
}

.clients {
    background: rgb(25, 26, 28);
    padding-bottom: 10%;

    &__title {
        margin-bottom: 110px;
    }

    &__table {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        width: 83%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        width: 30%;
        margin-bottom: 110px;

        &:nth-last-child(1),
        &:nth-last-child(2),
        &:nth-last-child(3) {
            margin-bottom: 0;
        }
    }

    &__icon {
        width: 30%;

        &_gazprom {
            width: 141px;
            height: 70px;
        }

        &_vtb {
            width: 146px;
            height: 52px;
        }

        &_alfa {
            width: 182px;
            height: 64px;
        }

        &_epam {
            width: 126px;
            height: 46px;
        }

        &_sber {
            width: 211px;
            height: 60px;
        }

        &_soho {
            width: 150px;
            height: 75px;
        }
    }
}

.order {
    background: rgb(25, 26, 28);
    padding-bottom: 13%;

    &__title {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__desc {
        font-weight: 300;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.05em;
        width: 43%;
    }

    &__sale {
        font-weight: 300;
        font-size: 144px;
        line-height: 176px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        opacity: 0.1;
    }

    &-form {
        margin-top: 100px;

        &__container {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;

            &_top {
                justify-content: space-between;
            }

            &_bottom {
                margin-top: 90px;
            }
        }

        &__input {
            background: transparent;
            border: none;
            height: 100%;
            width: 100%;
            padding: 5px 0;
            color: #fff;
            font-size: 18px;
            height: 42px;
            outline: none;
            letter-spacing: 0.07em;
            font-weight: 300;
            line-height: 22px;

            &-container {
                position: relative;


                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: #fff;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0.05em;
                    transition: all .3s ease;
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background: #fff;
                    opacity: 0.3;
                    height: 1px;
                    transition: all .3s ease;
                }

                &_name {
                    width: 47%;

                    &:before {
                        content: "Имя";
                    }
                }

                &_date {
                    width: 47%;

                    &:before {
                        content: "Дата";
                    }
                }

                &_phone {
                    width: 100%;

                    &:before {
                        content: "Телефон для связи";
                    }
                }

                &_focused {
                    &:before {
                        top: -18px;
                        font-size: 11px;
                    }

                    &:after {
                        opacity: 1;
                    }
                }

                &_error {
                    .order-form__input {
                        color: #FF3030;
                        opacity: 0.9;
                    }

                    &:after {
                        opacity: 1;
                        background: #FF3030;
                    }

                    .order-form__error {
                        opacity: 1;
                    }

                    .order-form__error-msg {
                        opacity: 1;
                    }
                }

                &_success {
                    .order-form__input {
                        color: inherit;
                        opacity: 0.9;
                    }

                    &:after {
                        opacity: 1;
                        background: #fff;
                    }

                    .order-form__success {
                        opacity: 1;
                    }

                }
            }
        }

        &__error-msg {
            position: absolute;
            left: 0;
            bottom: -25px;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.05em;
            color: #FF3030;
            opacity: 0;
        }

        &__error,
        &__success {
            position: absolute;
            right: 0;
            top: 25%;
            opacity: 0;
        }

        &__send-btn-container {
            border: 1px solid rgba(255, 255, 255, 0.2);
            width: 260px;
            margin-top: 60px;
            position: relative;

            &:hover {
                border: 1px solid rgb(255, 255, 255);
                background: #fff;


                .order-form__send-btn {
                    color: #252628;
                }

                .order-form__arrow {

                    path {
                        fill: #252628;
                    }
                }
            }
        }

        &__send-btn {
            background: transparent;
            border: none;
            color: #fff;
            opacity: 1;
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.05em;
            padding: 21px 100px 21px 33px;
            width: 100%;
            cursor: pointer;
            text-align: left;
        }

        &__arrow {
            position: absolute;
            top: 43%;
            right: 40px;
            width: 41px;
            height: 8px;
        }
    }
}

.contacts {
    background: rgb(25, 26, 28);
    padding-bottom: 7%;

    &__table {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        width: 95%;
        align-items: center;
    }

    &__phone,
    &__email {
        font-weight: 300;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.05em;
        color: #fff;
    }
}

.rivertime,
.deephouse {
    background: rgb(25, 26, 28);

    &-wrapper {
        width: 70%;

        &_clicked {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            z-index: 1000;

            .rivertime__photo {
                bottom: 0;
            }
        }
    }

    &__pic {
        cursor: pointer;

        &:hover {

            .rivertime__readmore-arrow,
            .deephouse__readmore-arrow {
                top: 60px;
            }
        }
    }

    &__photo {
        width: 100%;
        height: auto;
        position: relative;
        bottom: -3px;
    }

    &__labels {
        position: absolute;
        bottom: 12%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__title {
        font-weight: 300;
        font-size: 64px;
        line-height: 78px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    &__readmore-btn {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #fff;
        padding-bottom: 47px;
        position: relative;
    }

    &__readmore-arrow {
        transform: translateX(-50%) rotate(90deg);
        position: absolute;
        top: 50px;
        left: 50%;

        path {
            fill: #fff;
        }
    }
}

/* RIVERTIME SECTIONS*/

.members {
    background: rgb(25, 26, 28);
    padding-bottom: 7%;
    padding-top: 10%;

    &-wrapper {
        margin: 0 0 0 18%;
        width: 82%;
    }

    &__slider-container {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
    }

    &__slider-nav {
        position: relative;
        width: 20%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65vh;
        margin-top: 32.5vh;

    }

    .owl-prev,
    .owl-next {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        &:hover {
            .members__nav-arr {
                g {
                    opacity: 1;
                }
            }
        }
    }

    &__nav {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);


        &-arr {
            &_left {
                margin-right: 40px;
            }
        }
    }

    &__slider-count {
        text-align: center;
        position: relative;
        right: 17%;
        top: -70px;
        font-size: 18px;
        line-height: 177.6%;
        text-align: center;
        opacity: 0.5;
    }

    &-info,
    .deephouse-video-info {
        width: 70%;

        &__genres {
            line-height: 177.6%;
            opacity: 0.8 !important;
            font-weight: 500;

            &-title {
                font-weight: 400;
                opacity: 0.8;
            }
        }

        &__desc {
            margin-top: 30px;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.8;
            opacity: 0.7 !important;
            width: 60%;
            margin-bottom: 66px;
        }

        &__group {
            margin-bottom: 70px;

        }

        &__slider {
            height: 65vh;

            .owl-stage-outer {
                padding-top: 30px;
                overflow: hidden;
            }

            .owl-item {
                opacity: 0.5;
                display: inline-block;
                width: 30%;

                img {
                    width: 100%;
                    height: auto;
                }

                &.members-info__slide_active {
                    opacity: 1;
                    transform: translateY(-30px);
                }

            }

            .owl-item.active:first-child {
                opacity: 1;
                transform: translateY(-30px);
            }

            .owl-carousel .owl-stage-outer {}
        }

        &__slide {

            img {
                height: auto;
                /*width: 100%;*/
            }
        }

        &__name {
            display: inline-block;
            font-size: 20px;
            line-height: 177.6%;
            margin-top: 15px;
        }

        &__position {
            display: block;
            font-weight: 600;
            font-size: 14px;
            line-height: 177.6%;
            opacity: 0.4;
        }
    }
}

.rivertime-video,
.deephouse-video {
    background: rgb(25, 26, 28);
    padding-bottom: 7%;


    &__nav {
        margin-top: 30px;
        overflow: hidden;

        .owl-stage-outer {
            overflow: visible;
        }

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 5%;
            background: linear-gradient(to right, rgba(25, 26, 28, 0) 0%, rgb(25, 26, 28) 70%);
            z-index: 100;
        }


        &item {
            width: 30%;
            opacity: 0.3;
            font-size: 16px;
            line-height: 177.6%;
            color: #fff;

            &_active {
                opacity: 0.8;
                font-weight: 600;
            }
        }
    }
}

.deephouse-video {
    padding-top: 7%;

    &-info {
        width: 70%;

        &__genres {
            line-height: 177.6%;
            opacity: 0.8 !important;
            font-weight: 500;

            &-title {
                font-weight: 400;
                opacity: 0.8;
            }
        }

        &__desc {
            margin-top: 30px;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.8;
            opacity: 0.7 !important;
            width: 74%;
            margin-bottom: 66px;
        }
    }
}