* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all .3s ease;
}

ul {
  list-style: none;
}

html {
  font-size: 14px;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  cursor: default;
  color: #fff;
  background: #fff;
  overflow-x: hidden;
  position: relative;
}

section {
  width: 100%;
  position: relative;
  background: #fff;
}

a {
  text-decoration: none;
}

input,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.wrapper {
  margin: 0 auto;
  width: 65%;
}

.main-container {
  background-color: #e7e5e8;
}

.main-section {
  height: 100vh;
  background: url("../../img/mainbg.jpg") 0 100%/contain no-repeat;
}

.main-section__wrapper {
  margin: 0 auto;
  width: 83.5%;
  position: relative;
  height: 100%;
}

.main-section__menu {
  position: absolute;
  top: 47px;
  left: 0;
}

.main-section__menu-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #3D3D3D;
  cursor: pointer;
  opacity: 0.66;
  padding-bottom: 11px;
  border-bottom: 2px solid transparent;
  margin-right: 47px;
  font-size: 16px;
}

.main-section__menu-item_active {
  opacity: 1;
  border-bottom-color: #3D3D3D;
}

.main-section__menu-item:last-child {
  margin-right: 0;
}

.main-section__menu-item:hover {
  opacity: 1;
  border-bottom-color: #3D3D3D;
}

.main-section__order-btn {
  position: absolute;
  right: 5.7%;
  top: 47px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #3D3D3D;
}

.main-section__order-btn:hover {
  right: 5%;
}

.main-section__order-btn:hover .main-section__order-arrow {
  right: -70px;
}

.main-section__order-arrow {
  position: absolute;
  top: 25%;
  right: -60px;
}

.main-section__readmore-btn {
  position: absolute;
  left: -58px;
  bottom: 30%;
  transform: rotate(-90deg);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1F1E20;
  opacity: 0.5;
}

.main-section__readmore-btn:hover {
  opacity: 1;
  bottom: 29%;
}

.main-section__readmore-btn:hover .main-section__readmore-arrow {
  left: -70px;
}

.main-section__readmore-arrow {
  position: absolute;
  transform: rotate(-180deg);
  left: -60px;
  top: 25%;
}

.main-section__soc {
  position: absolute;
  right: 0;
  bottom: 17%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-section__soc-link {
  height: 33px;
  width: 33px;
  margin-bottom: 22px;
  display: inline-block;
}

.main-section__soc-link:last-child {
  margin-bottom: 0;
}

.main-section__soc-link:hover {
  transform: scale(1.05);
}

.main-section__soc-link:hover .main-section__soc-icon path {
  fill: #3D3D3D;
}

.main-section__soc-icon {
  height: 33px;
  width: 33px;
}

.main-section__title-container {
  position: absolute;
  top: 40%;
  left: 17%;
}

.main-section__title {
  font-weight: 300;
  font-size: 70px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #3D3D3D;
}

.main-section__title-lastname {
  margin-left: 14%;
}

.main-section__roles {
  margin-left: 14.5%;
  margin-top: 10px;
}

.main-section__role {
  font-size: 18px;
  line-height: 22px;
  color: #222222;
  opacity: 0.55;
  margin-right: 4%;
}

.voice {
  background: url("img/secsectbg.png") 0 0/contain no-repeat, linear-gradient(180deg, #191a1c, #191a1c);
  padding-top: 12%;
  padding-bottom: 20%;
}

.voice-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-end;
}

.voice__info {
  width: 50%;
}

.voice__title {
  font-weight: 200;
  font-size: 64px;
  line-height: 99.6%;
  letter-spacing: -0.01em;
  margin-bottom: 50px;
}

.voice__genres {
  line-height: 177.6%;
  opacity: 0.8;
  font-weight: 600;
  margin-bottom: 40px;
}

.voice__genres-title {
  font-weight: 400;
}

.voice__desc {
  width: 95%;
  line-height: 2;
  opacity: 0.8;
  margin-bottom: 50px;
}

.voice__video-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 70px;
  text-transform: uppercase;
  opacity: 0.33;
}

.video {
  width: 92%;
  position: relative;
}

.video-container {
  position: relative;
}

.video__stub {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.video__stub:hover .video__play-btn {
  transform: translate(-50%, -50%) scale(1.1);
}

.video__stub-img {
  width: 100%;
  height: auto;
}

.video__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__label {
  font-size: 16px;
  margin-top: 30px;
  opacity: 0.8;
}

.video_pos {
  transform: translateY(40%);
}

.hidden {
  display: none;
}