@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  font-size: 14px;
  color: #fff !important;
  background: #191a1c;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  cursor: default;
  color: #fff;
  background: #191a1c;
  position: relative;
}

main {
  overflow: hidden;
}

section {
  width: 100%;
  position: relative;
  background: #191a1c;
}

section.main-section {
  overflow: hidden;
}

section:not(.main-section) * {
  transition: all .3s ease;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

button {
  background: transparent;
  border: none;
  position: relative;
}

h1 {
  display: none;
}

@keyframes slideup {
  from {
    opacity: 0;
    margin-top: 30px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes slideuprole {
  from {
    opacity: 0;
    margin-top: 30px;
  }

  to {
    opacity: 0.55;
    margin-top: 0;
  }
}

@keyframes slideupmenu {
  from {
    opacity: 0;
    margin-top: 30px;
  }

  to {
    opacity: 0.66;
    margin-top: 0;
  }
}

@keyframes slideuplogo {
  from {
    opacity: 0;
    margin-top: 30px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes slideupmenuactive {
  0% {
    opacity: 0;
    margin-top: 30px;
    border-bottom-color: transparent;
  }

  90% {
    opacity: 0.66;
    margin-top: 0;
    border-bottom-color: transparent;
  }

  100% {
    opacity: 1;
    border-bottom-color: #3D3D3D;
  }
}

@keyframes slideuporderbtn {
  0% {
    opacity: 0;
    margin-top: 20px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes slideuporderarrow {
  0% {
    right: -40px;
  }

  100% {
    right: -60px;
  }
}

@keyframes slideupreadmorebtn {
  0% {
    opacity: 0;
    bottom: 32%;
  }

  100% {
    opacity: 0.5;
    bottom: 30%;
  }
}

@keyframes slideupreadmorearrow {
  0% {
    left: -48px;
  }

  100% {
    left: -60px;
  }
}

@keyframes slideupsoc {
  0% {
    opacity: 0;
    bottom: 19%;
  }

  100% {
    opacity: 1;
    bottom: 17%;
  }
}

@keyframes slideuprivertime {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes preloader {
  0% {
    height: 100%;
  }

  100% {
    height: 0;
  }
}

.disabled-scroll {
  overflow: hidden;
}

.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #e7e5e8;
  opacity: 1;
  transition: all .3s ease;
}

.preloader_hidden {
  opacity: 0;
}

.preloader_hidden__icon {
  display: none;
}

.preloader__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader__progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e7e5e8;
  height: 100%;
  transition: all .5s ease;
  animation: preloader 3s ease forwards;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 800;
  background: #191a1c;
  display: none;
  opacity: 0;
}

.overlay_active {
  display: block !important;
  opacity: 0.2;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 900;
  background: #fff;
  padding: 4% 10% 3%;
  color: #000;
  text-align: center;
  display: none;
}

.modal_active {
  display: block !important;
}

.modal-success__icon {
  width: 95px;
  height: 95px;
}

.modal-success__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 10% 0 15%;
}

.modal-success__btn {
  border: 1px solid #808080;
  color: #3D3D3D;
  font-weight: 300;
  background: #fff;
  padding: 20px 75px;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
}

.modal-success__btn:hover {
  background: #3D3D3D;
  color: #fff;
}

.wrapper {
  margin: 0 auto;
  width: 65%;
  position: relative;
}

.section_hidden {
  display: none;
}

.main-container {
  background: linear-gradient(180deg, #e7e5e8, #e7e5e8);
  position: relative;
  display: block;
  opacity: 1;
  overflow: hidden;
}

.main-container_hidden {
  display: none;
  opacity: 0;
}

.main-container__videobg {
  display: none;
}

.main-container_rivertime .main-section,
.main-container_deephouse .main-section {
  background: none;
}

.main-container_rivertime .main-section__title-wrapper,
.main-container_deephouse .main-section__title-wrapper {
  background: none;
}

.main-container_rivertime .main-section__menu-item,
.main-container_deephouse .main-section__menu-item {
  color: #fff;
}

.main-container_rivertime .main-section__menu-item_active,
.main-container_deephouse .main-section__menu-item_active {
  border-bottom: 2px solid #fff;
}

.main-container_rivertime .main-section__menu-item:hover,
.main-container_deephouse .main-section__menu-item:hover {
  opacity: 1;
  border-bottom-color: #fff;
}

.main-container_rivertime .main-section__readmore-btn,
.main-container_rivertime .main-section__order-btn,
.main-container_deephouse .main-section__readmore-btn,
.main-container_deephouse .main-section__order-btn {
  color: #fff;
}

.main-container_rivertime .main-section__readmore-arrow path,
.main-container_rivertime .main-section__order-arrow path,
.main-container_deephouse .main-section__readmore-arrow path,
.main-container_deephouse .main-section__order-arrow path {
  fill: #fff;
}

.main-container_rivertime .main-section__soc-link,
.main-container_deephouse .main-section__soc-link {
  opacity: 0.9;
}

.main-container_rivertime .main-section__soc-link:hover,
.main-container_deephouse .main-section__soc-link:hover {
  opacity: 1;
}

.main-container_rivertime .main-section__soc-link:hover .main-section__soc-icon path,
.main-container_deephouse .main-section__soc-link:hover .main-section__soc-icon path {
  fill: #fff;
}

.main-container_rivertime .main-section__soc-icon path,
.main-container_deephouse .main-section__soc-icon path {
  fill: #fff;
}

.main-container_rivertime .main-section__title,
.main-container_rivertime .main-section__roles,
.main-container_deephouse .main-section__title,
.main-container_deephouse .main-section__roles {
  display: none;
}

.main-container_rivertime .main-section__title-container,
.main-container_deephouse .main-section__title-container {
  top: auto;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
}

.main-container .main-section__menu-item_rivertimelogo,
.main-container .main-section__menu-item_deephouselogo {
  display: none;
}

.main-container_rivertime {
  background: url("img/rivertimebg.jpg") center/cover no-repeat, linear-gradient(180deg, #e7e5e8, #e7e5e8);
}

.main-container_rivertime .main-section__title_rivertime {
  display: block;
  animation: slideuprivertime 1s ease forwards;
  color: #fff;
}

.main-container_rivertime__videobg {
  display: none;
}

.main-container_rivertime .main-section__menu-item_solologo,
.main-container_rivertime .main-section__menu-item_deephouselogo {
  display: none;
}

.main-container_rivertime .main-section__menu-item_rivertimelogo {
  display: block;
}

.main-container_rivertime .main-section__readmore-btn,
.main-container_rivertime .main-section__order-btn {
  color: #3d3d3d;
}

.main-container_rivertime .main-section__readmore-arrow path,
.main-container_rivertime .main-section__order-arrow path {
  fill: #3d3d3d;
}

.main-container_rivertime .main-section__soc-icon path {
  fill: #3d3d3d;
}

.main-container_rivertime .main-section__menu-item {
  color: #3d3d3d;
}

.main-container_rivertime .main-section__menu-item_active {
  border-bottom: 2px solid #3d3d3d;
}

.main-container_rivertime .main-section__menu-item:hover {
  border-bottom-color: #3d3d3d;
}

.main-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 26, 28, 0.4);
  z-index: 2;
  display: none;
}

.main-container_deephouse .main-container__videobg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100vw;
}

.main-container_deephouse:after {
  display: block;
}

.main-container_deephouse .main-section__menu-item_solologo,
.main-container_deephouse .main-section__menu-item_rivertimelogo {
  display: none;
}

.main-container_deephouse .main-section__menu-item_deephouselogo {
  display: block;
}

.main-container_deephouse .main-section__menu-item-icon path {
  fill: #fff;
}

.main-container_deephouse .main-section {
  background: transparent;
}

.main-container_deephouse .main-section__mobile-menu-icon span {
  background: #fff;
}

.main-container_deephouse .main-section__mobile-menu-label {
  color: #fff;
}

.main-container_deephouse .main-section__wrapper * {
  z-index: 20;
}

.main-container_deephouse .main-section__title_deephouse {
  animation: slideup 1s ease forwards;
  display: block;
}

.disable-animation .main-section__menu-item:not(.main-section__menu-item_active) {
  opacity: 0.66;
  animation: none;
}

.disable-animation .main-section__menu-item_logo {
  opacity: 1 !important;
}

.disable-animation .main-section__menu-item_active {
  opacity: 1;
  animation: none;
}

.disable-animation .main-section__menu-item:hover {
  opacity: 1;
}

.disable-animation .main-section__order-btn {
  opacity: 1;
  animation: none;
}

.disable-animation .main-section__order-btn:hover {
  right: 5%;
}

.disable-animation .main-section__order-btn:hover .main-section__order-arrow {
  right: -70px;
}

.disable-animation .main-section__order-arrow {
  right: -60px;
  animation: none;
}

.disable-animation .main-section__readmore-btn {
  opacity: 0.5;
  animation: none;
}

.disable-animation .main-section__readmore-btn:hover {
  opacity: 1;
}

.disable-animation .main-section__readmore-btn:hover .main-section__readmore-arrow {
  left: -70px;
}

.disable-animation .main-section__readmore-arrow {
  animation: none;
  left: -60px;
}

.disable-animation .main-section__soc {
  opacity: 1;
  animation: none;
  bottom: 17%;
}

.slick-slide {
  outline: none;
}

.main-section {
  height: 100vh;
  background: linear-gradient(180deg, #e7e5e8, #e7e5e8);
}

.main-section__mobile {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  transform: translateY(-100%);
  background: #191a1c;
  padding: 60px 62px 30px;
  transition: all .3s ease-in-out;
  z-index: 805 !important;
}

.main-section__mobile_active {
  transform: translateY(0%);
}

.main-section__mobile-close {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 54px;
  width: 25px;
  height: 25px;
}

.main-section__mobile-close span {
  content: '';
  position: absolute;
  background: #fff;
  width: 24px;
  height: 1px;
  left: 0;
  display: inline-block;
  top: 49%;
}

.main-section__mobile-close span:first-child {
  transform: rotate(45deg);
}

.main-section__mobile-close span:last-child {
  transform: translate(-0.5px, 0px) rotate(-45deg);
}

.main-section__mobile-item {
  padding: 15px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 0.66;
}

.main-section__mobile-item_active {
  opacity: 1;
  font-weight: 600px;
}

.main-section__mobile-table {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-section__mobile-orderbtn {
  display: inline-block;
  margin: 85px auto 0;
  border: 1px solid #808080;
  box-sizing: border-box;
  height: 60px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  width: 50%;
  color: #FFFFFF;
}

.main-section__mobile-menu {
  position: absolute;
  top: 47px;
  display: none;
  right: 0;
}

.main-section__mobile-menu-icon {
  display: inline-block;
  height: 8px;
  width: 22px;
  position: relative;
}

.main-section__mobile-menu-icon span {
  content: '';
  width: 100%;
  position: absolute;
  height: 2px;
  background: #262528;
  left: 0;
  display: inline-block;
}

.main-section__mobile-menu-icon span:first-child {
  top: 0;
}

.main-section__mobile-menu-icon span:last-child {
  bottom: 0;
}

.main-section__mobile-menu-label {
  top: -2px;
  left: 30px;
  padding-right: 11px;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.195em;
  text-transform: uppercase;
  color: #222222;
  display: inline-block;
}

.main-section__wrapper {
  margin: 0 auto;
  width: 83.5%;
  position: relative;
  height: 100%;
}

.main-section__menu {
  position: absolute;
  top: 47px;
  left: 0;
  display: flex;
  align-items: center;
}

.main-section__menu * {
  transition: all .3s ease;
}

.main-section__menu-item {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #3D3D3D;
  cursor: pointer;
  opacity: 0;
  padding-bottom: 11px;
  border-bottom: 2px solid transparent;
  margin-right: 47px;
  font-size: 16px;
}

.main-section__menu-item-icon {
  width: 167px;
  height: 58px;
}

.main-section__menu-item_solo:not(.main-section__menu-item_active),
.main-section__menu-item_cover:not(.main-section__menu-item_active),
.main-section__menu-item_deephouse:not(.main-section__menu-item_active) {
  animation: slideupmenu 1s ease 1.5s forwards;
}

.main-section__menu-item_logo {
  padding-bottom: 0;
  border: none;
  margin-right: 100px;
  animation: slideuplogo 1s ease 1.5s forwards;
}

.main-section__menu-item_active {
  opacity: 0;
  border-bottom-color: #3D3D3D;
  animation: slideupmenuactive 1s ease 1.5s forwards;
}

.main-section__menu-item:last-child {
  margin-right: 0;
}

.main-section__menu-item:hover {
  opacity: 1;
  border-bottom-color: #3D3D3D;
}

.main-section__order-btn {
  position: absolute;
  right: 5.7%;
  top: 60px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #3D3D3D;
  opacity: 0;
  animation: slideuporderbtn 1s ease 2s forwards;
  transition: all .3s ease;
  height: 37px;
  display: flex;
  align-items: center;
}

.main-section__order-btn:hover {
  right: 5%;
}

.main-section__order-btn:hover .main-section__order-arrow {
  right: -70px;
}

.main-section__order-arrow {
  position: absolute;
  right: -40px;
  animation: slideuporderarrow 1s ease 1.5s forwards;
  width: 41px;
  height: 8px;
  transition: all .3s ease;
}

.main-section__readmore-btn {
  position: absolute;
  display: inline-block;
  left: -58px;
  bottom: 30%;
  transform: rotate(-90deg);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1F1E20;
  opacity: 0;
  animation: slideupreadmorebtn 1s ease 2s forwards;
  transition: all .3s ease;
}

.main-section__readmore-btn:hover {
  opacity: 1;
  bottom: 29%;
}

.main-section__readmore-btn:hover .main-section__readmore-arrow {
  left: -70px;
}

.main-section__readmore-arrow {
  position: absolute;
  transform: rotate(-180deg);
  left: -48px;
  top: 25%;
  animation: slideupreadmorearrow 1s ease 2s forwards;
  width: 41px;
  height: 8px;
  transition: all .3s ease;
}

.main-section__soc {
  position: absolute;
  right: 0;
  opacity: 0;
  bottom: 19%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: slideupsoc 1s ease 2.5s forwards;
  transition: all .3s ease;
}

.main-section__soc-link {
  height: 33px;
  width: 33px;
  margin-bottom: 22px;
  display: inline-block;
  transition: all .3s ease;
}

.main-section__soc-link:last-child {
  margin-bottom: 0;
}

.main-section__soc-link:hover {
  transform: scale(1.05);
}

.main-section__soc-link:hover .main-section__soc-icon path {
  fill: #3D3D3D;
}

.main-section__soc-icon {
  height: 33px;
  width: 33px;
  transition: all .3s ease;
}

.main-section__title-wrapper {
  margin: 0 auto;
  left: 0;
  top: 47px;
  width: 100%;
  height: 100%;
  max-width: 1600px;
  background: url("../../img/mainbg.png") 20% 100%/contain no-repeat;
}

.main-section__title-container {
  position: absolute;
  top: 40%;
  left: 12%;
}

.main-section__title {
  font-weight: 300;
  font-size: 72px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #3D3D3D;
}

.main-section__title-name {
  width: 47%;
  height: auto;
  display: inline-block;
  opacity: 0;
  animation: slideup 1s ease 0.3s forwards;
}

.main-section__title-lastname {
  width: 47%;
  height: auto;
  display: inline-block;
  opacity: 0;
  margin-left: 11.5%;
  animation: slideup 1s ease 0.5s forwards;
}

.main-section__title_rivertime {
  display: none;
  font-weight: 900;
  font-size: 170px;
  line-height: 219px;
  text-align: center;
  letter-spacing: 0.065em;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  transition: none;
}

.main-section__title_deephouse {
  display: none;
  font-size: 114px;
  line-height: 139px;
  text-align: center;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-section__roles {
  margin-left: 11.5%;
  margin-top: 10px;
}

.main-section__role {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  color: #222222;
  opacity: 0;
  margin-right: 4%;
  animation: slideuprole 1s ease 0.5s forwards;
}

.voice {
  background: url("img/secsectbg.png") 0 0/cover no-repeat, linear-gradient(180deg, #191a1c, #191a1c);
  padding-top: 140px;
  padding-bottom: 140px;
  position: relative;
}

.voice:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(180deg, transparent 0%, #191a1c 70%);
}

.voice-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.voice__info {
  width: 50%;
}

.voice__info .video:last-child {
  margin-top: 150px;
}

.voice__subcol {
  width: 50%;
}

.voice__title {
  font-weight: 200;
  font-size: 64px;
  line-height: 99.6%;
  letter-spacing: -0.01em;
  margin-bottom: 50px;
}

.voice__genres {
  line-height: 177.6%;
  opacity: 0.8 !important;
  font-weight: 600;
  margin-bottom: 40px;
}

.voice__genres-title {
  font-weight: 400;
}

.voice__desc {
  width: 100%;
  line-height: 2;
  opacity: 0.8 !important;
  margin-bottom: 50px;
  font-size: 18px;
}

.voice__video-title {
  margin-bottom: 70px;
}

@keyframes video {
  0% {
    transform: translateY(105%);
    opacity: 0;
  }

  70% {
    transform: translateY(-10%);
    opacity: 0.8;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.video {
  width: 92%;
  position: relative;
}

.video-wrapper {
  transform: translateY(105%);
}

.video-wrapper_visible {
  animation: video 1.3s ease-in-out forwards;
}

.video-container {
  position: relative;
}

.video__stub {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.video__stub:hover .video__play-btn {
  transform: translate(-50%, -50%) scale(1.1);
}

.video__stub-img {
  width: 100%;
  height: auto;
}

.video__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 47px;
  height: 52px;
}

.video__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__video_hidden {
  display: none;
}

.video__label {
  font-size: 16px;
  margin-top: 30px;
  opacity: 0.8;
}

.video_pos {
  transform: translateY(200px);
}

.hidden {
  display: none;
}

.gallery,
.rivertime-video,
.deephouse-video {
  background: #191a1c;
  padding-top: 140px;
  padding-bottom: 140px;
}

.gallery__mobile-slider,
.rivertime-video__mobile-slider,
.deephouse-video__mobile-slider {
  display: none;
}

.gallery__slider,
.rivertime-video__slider,
.deephouse-video__slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 65vh;
}

.gallery__slider-wrapper,
.rivertime-video__slider-wrapper,
.deephouse-video__slider-wrapper {
  position: relative;
}

.gallery__slider-arr,
.rivertime-video__slider-arr,
.deephouse-video__slider-arr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) !important;
  height: 80px;
  width: 80px;
  cursor: pointer;
  outline: none;
}

.gallery__slider-arr_disable,
.rivertime-video__slider-arr_disable,
.deephouse-video__slider-arr_disable {
  pointer-events: none;
}

.gallery__slider-arr:hover g,
.rivertime-video__slider-arr:hover g,
.deephouse-video__slider-arr:hover g {
  opacity: 1;
}

.gallery__slider-arr_left,
.rivertime-video__slider-arr_left,
.deephouse-video__slider-arr_left {
  left: -137px;
}

.gallery__slider-arr_right,
.rivertime-video__slider-arr_right,
.deephouse-video__slider-arr_right {
  right: -137px;
}

.gallery__title,
.rivertime-video__title,
.deephouse-video__title {
  margin-bottom: 45px;
}

.gallery__slide,
.rivertime-video__slide,
.deephouse-video__slide {
  position: relative;
  height: 65vh;
  overflow: hidden;
  display: inline-block;
}

.gallery__slide img,
.rivertime-video__slide img,
.deephouse-video__slide img {
  margin: 0 auto;
}

.gallery__slide .rivertime-video__video,
.gallery__slide .deephouse-video__video,
.rivertime-video__slide .rivertime-video__video,
.rivertime-video__slide .deephouse-video__video,
.deephouse-video__slide .rivertime-video__video,
.deephouse-video__slide .deephouse-video__video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: auto;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

.deephouse-video__title {
  display: none;
}

.gallery {
  padding-top: 0;
}

.gallery__slider-arr {
  transform: translateY(-25%) !important;
}

.gallery__slide img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  opacity: 0.33 !important;
}

.clients {
  background: #191a1c;
}

.clients__title {
  margin-bottom: 110px;
}

.clients__table {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.clients__item {
  width: 21%;
  margin-bottom: 105px;
}

.clients__item:nth-last-child(1),
.clients__item:nth-last-child(2),
.clients__item:nth-last-child(3),
.clients__item:nth-last-child(4) {
  margin-bottom: 0;
}

.clients__icon {
  width: 100%;
  height: auto;
}

.clients__icon_gazprom {
  max-width: 141px;
  max-height: 70px;
}

.clients__icon_vtb {
  max-width: 146px;
  max-height: 52px;
}

.clients__icon_alfa {
  max-width: 182px;
  max-height: 64px;
}

.clients__icon_sber {
  max-width: 211px;
  max-height: 60px;
}

.clients__icon_epam {
  max-width: 126px;
  max-height: 46px;
}

.clients__icon_toyota {
  max-width: 131px;
  max-height: 110px;
}

.clients__icon_soho {
  max-width: 150px;
  max-height: 75px;
}

.clients__icon_benz {
  max-width: 217px;
  max-height: 122px;
}

.order {
  background: #191a1c;
  padding-top: 140px;
}

.order-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.order__title {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 45%;
  max-width: 680px;
}

.order__desc {
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.05em;
}

.order__sale {
  font-weight: 300;
  font-size: 144px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.1;
}

.order-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.order-form__container {
  width: 100%;
}

.order-form__input {
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
  padding: 5px 0;
  color: #fff;
  font-size: 18px;
  height: 42px;
  outline: none;
  letter-spacing: 0.07em;
  font-weight: 300;
  line-height: 22px;
  position: relative;
  z-index: 5;
}

.order-form__input-container {
  position: relative;
  margin-bottom: 52px;
}

.order-form__input-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  transition: all .3s ease;
}

.order-form__input-container:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  opacity: 0.3;
  height: 1px;
  transition: all .3s ease;
}

.order-form__input-container_name:before {
  content: "Имя";
}

.order-form__input-container_date:before {
  content: "Дата";
}

.order-form__input-container_phone {
  width: 100%;
}

.order-form__input-container_phone:before {
  content: "Телефон для связи";
}

.order-form__input-container_focused:before {
  top: -18px;
  font-size: 11px;
}

.order-form__input-container_focused:after {
  opacity: 1;
}

.order-form__input-container_error .order-form__input {
  color: #FF3030;
  opacity: 0.9;
}

.order-form__input-container_error:after {
  opacity: 1;
  background: #FF3030;
}

.order-form__input-container_error .order-form__error {
  width: 25.98px;
  height: 22.5px;
  opacity: 1;
}

.order-form__input-container_error .order-form__error-msg {
  opacity: 1;
}

.order-form__input-container_success .order-form__input {
  color: inherit;
  opacity: 0.9;
}

.order-form__input-container_success:after {
  opacity: 1;
  background: #fff;
}

.order-form__input-container_success .order-form__success {
  opacity: 1;
  width: 25px;
  height: 25px;
}

.order-form__error-msg {
  position: absolute;
  left: 0;
  bottom: -25px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.05em;
  color: #FF3030;
  opacity: 0;
}

.order-form__error,
.order-form__success {
  position: absolute;
  right: 0;
  bottom: 10px;
  opacity: 0;
}

.order-form__send-btn-container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 260px;
  margin-top: 60px;
  position: relative;
}

.order-form__send-btn-container:hover {
  border: 1px solid white;
  background: #fff;
}

.order-form__send-btn-container:hover .order-form__send-btn {
  color: #252628;
}

.order-form__send-btn-container:hover .order-form__arrow path {
  fill: #252628;
}

.order-form__send-btn {
  background: transparent;
  border: none;
  color: #fff;
  opacity: 1;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  padding: 21px 100px 21px 33px;
  width: 100%;
  cursor: pointer;
  text-align: left;
  outline: none;
  font-family: Montserrat, sans-serif;
}

.order-form__send-btn:focus {
  background: rgba(255, 255, 255, 0.05);
}

.order-form__send-btn:active {
  transform: scale(1.05);
}

.order-form__arrow {
  position: absolute;
  top: 43%;
  right: 40px;
  width: 41px;
  height: 8px;
}

.contacts {
  background: #191a1c;
  padding-top: 140px;
  padding-bottom: calc(80vh + 140px);
}

.contacts_nopadding {
  padding-bottom: 140px;
}

.contacts__table {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;
}

.contacts__table-soc {
  margin-top: 60px;
  display: none;
}

.contacts__table-soc-link {
  margin-right: 35px;
}

.contacts__table-soc-link:last-child {
  margin-right: 0;
}

.contacts__phone,
.contacts__email {
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.05em;
  color: #fff;
}

.rivertime,
.deephouse {
  background: #191a1c;
}

.rivertime__mobile-labels,
.deephouse__mobile-labels {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 23px;
  display: none;
}

.rivertime__mobile-arrow,
.deephouse__mobile-arrow {
  width: 8px;
  height: 12px;
}

.rivertime-wrapper,
.deephouse-wrapper {
  width: 100%;
  position: static;
}

.rivertime__pic,
.deephouse__pic {
  cursor: pointer;
  height: 80vh;
  position: absolute;
  bottom: 0;
  transform-origin: bottom;
  padding: 0 15%;
  transition: all .5s ease;
  left: 0;
  right: 0;
}

.rivertime__pic_clicked,
.deephouse__pic_clicked {
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  padding: 0;
  transition: all .5s ease;
}

.rivertime__pic_fixed,
.deephouse__pic_fixed {
  position: fixed;
}

.rivertime__pic:hover .rivertime__readmore-arrow,
.rivertime__pic:hover .deephouse__readmore-arrow,
.deephouse__pic:hover .rivertime__readmore-arrow,
.deephouse__pic:hover .deephouse__readmore-arrow {
  top: 60px;
}

.rivertime__photo,
.deephouse__photo {
  width: 100%;
  height: 100%;
  position: relative;
  /*bottom: -3px;*/
  object-fit: cover;
  transition: all .5s ease;
}

.rivertime__labels,
.deephouse__labels {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 1;
}

.rivertime__labels_hidden,
.deephouse__labels_hidden {
  opacity: 0;
}

.rivertime__subtitle,
.deephouse__subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.rivertime__title,
.deephouse__title {
  font-weight: 300;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.rivertime__readmore-btn,
.deephouse__readmore-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  padding-bottom: 47px;
  position: relative;
}

.rivertime__readmore-arrow,
.deephouse__readmore-arrow {
  transform: translateX(-50%) rotate(90deg);
  position: absolute;
  top: 50px;
  left: 50%;
  width: 41px;
  height: 8px;
}

.rivertime__readmore-arrow path,
.deephouse__readmore-arrow path {
  fill: #fff;
}

/* RIVERTIME SECTIONS*/

.members {
  background: #191a1c;
  padding-top: 140px;
}

.members-wrapper {
  margin: 0 0 0 18%;
  width: 82%;
}

.members__slider-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.members__slider-nav {
  position: relative;
  width: 20%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 60;
}

.members__nav {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-100%);
  text-align: center;
}

.members__nav-arr {
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  width: 81px;
  height: 80px;
}

.members__nav-arr_disable {
  pointer-events: none;
}

.members__nav-arr_left {
  margin-right: 40px;
}

.members__nav-arr:hover g {
  opacity: 1;
}

.members__slider-count {
  text-align: center;
  position: relative;
  top: -100px;
  font-size: 18px;
  line-height: 177.6%;
  text-align: center;
  opacity: 0.5;
}

.members-info,
.members .deephouse-video-info {
  width: 100%;
}

.members-info__genres,
.members .deephouse-video-info__genres {
  line-height: 177.6%;
  opacity: 0.8 !important;
  font-weight: 500;
  margin-left: 30%;
}

.members-info__genres-title,
.members .deephouse-video-info__genres-title {
  font-weight: 400;
  opacity: 0.8;
}

.members-info__desc,
.members .deephouse-video-info__desc {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  opacity: 0.7 !important;
  width: 45%;
  margin-bottom: 66px;
  margin-left: 30%;
}

.members-info__group,
.members .deephouse-video-info__group {
  margin-bottom: 70px;
  margin-left: 30%;
  margin-top: 140px;
}

.members-info__container,
.members .deephouse-video-info__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.members-info__slider,
.members .deephouse-video-info__slider {
  width: 70%;
}

.members-info__slider .slick-list,
.members .deephouse-video-info__slider .slick-list {
  margin-right: -40px;
}

.members-info__slider .slick-slide,
.members .deephouse-video-info__slider .slick-slide {
  margin-right: 40px;
  z-index: 3;
}

.members-info__slide,
.members .deephouse-video-info__slide {
  opacity: 0.5;
  padding-top: 30px;
  margin-right: 40px;
}

.members-info__slide.slick-current,
.members .deephouse-video-info__slide.slick-current {
  opacity: 1;
  transform: translateY(-30px);
}

.members-info__slide.slick-cloned,
.members .deephouse-video-info__slide.slick-cloned {
  visibility: hidden;
}

.members-info__slide img,
.members .deephouse-video-info__slide img {
  width: 100%;
  height: auto;
}

.members-info__name,
.members .deephouse-video-info__name {
  display: inline-block;
  font-size: 20px;
  line-height: 177.6%;
  color: #fff;
  margin-top: 15px;
}

.members-info__position,
.members .deephouse-video-info__position {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 177.6%;
  opacity: 0.4;
  color: #fff;
}

.members .deephouse-video-info {
  width: 70%;
}

.rivertime-video,
.deephouse-video {
  background: #191a1c;
}

.rivertime-video-info__desc,
.deephouse-video-info__desc {
  margin-bottom: 140px;
}

.rivertime-video__slide,
.deephouse-video__slide {
  cursor: pointer;
}

.rivertime-video__slide:hover .video__play-btn,
.deephouse-video__slide:hover .video__play-btn {
  transform: translate(-50%, -50%) scale(1.1);
}

.rivertime-video__nav,
.deephouse-video__nav {
  margin-top: 30px;
  overflow: hidden;
}

.rivertime-video__nav:after,
.deephouse-video__nav:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5%;
  background: linear-gradient(to right, rgba(25, 26, 28, 0) 0%, #191a1c 70%);
  z-index: 100;
}

.rivertime-video__navitem,
.deephouse-video__navitem {
  opacity: 0.3;
  font-size: 16px;
  line-height: 177.6%;
  color: #fff;
  margin-right: 97px;
}

.rivertime-video__navitem.slick-cloned,
.deephouse-video__navitem.slick-cloned {
  visibility: hidden;
}

.rivertime-video__navitem.slick-current,
.deephouse-video__navitem.slick-current {
  opacity: 0.8;
  font-weight: 600;
}

.deephouse-video {
  background: url("img/deephousebg.png") 0 0/cover no-repeat, linear-gradient(180deg, #191a1c, #191a1c);
  position: relative;
  padding-bottom: 140px;
}

.deephouse-video:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5%;
  width: 100%;
  background: linear-gradient(to top, #191a1c, transparent);
}

.deephouse-video-info {
  width: 70%;
}

.deephouse-video-info__genres {
  line-height: 177.6%;
  opacity: 0.8 !important;
  font-weight: 500;
}

.deephouse-video-info__genres-title {
  font-weight: 400;
  opacity: 0.8;
}

.deephouse-video-info__desc {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  opacity: 0.7 !important;
  width: 74%;
}

@media (min-width: 2000px) {
  .main-section__title-wrapper {
    background: url("img/mainbg.png") 60% 100%/cover no-repeat;
  }

  .main-section__title-container {
    left: 15%;
  }
}

@media (max-width: 1600px) {
  .main-section__title-wrapper {
    background: url("img/mainbg.png") 60% 100%/cover no-repeat;
  }

  .main-container_rivertime {
    background: url("img/rivertimebg.jpg") center/cover no-repeat, linear-gradient(180deg, #e7e5e8, #e7e5e8);
  }

  .voice__title {
    width: 200%;
  }

  .voice__subcol {
    width: 50%;
  }

  .voice__info {
    width: 50%;
  }

  .voice__desc {
    width: 130%;
  }
}

@media (max-width: 1300px) {
  .main-container_rivertime {
    background: url("../img/rivertimebg.jpg") center/cover no-repeat, linear-gradient(180deg, #e7e5e8, #e7e5e8);
  }

  .voice__title {
    font-size: 60px;
  }

  .voice__desc {
    font-size: 16px;
  }

  .deephouse-video-info__desc {
    font-size: 16px;
  }

  .wrapper:not(.members-wrapper) {
    width: 75%;
  }

  .video__label {
    font-size: 14px;
  }

  .gallery__slider-arr_left,
  .rivertime-video__slider-arr_left,
  .deephouse-video__slider-arr_left {
    left: -120px;
  }

  .gallery__slider-arr_right,
  .rivertime-video__slider-arr_right,
  .deephouse-video__slider-arr_right {
    right: -120px;
  }

  .gallery__slider-arr,
  .members__nav-arr {
    height: 75px;
    width: 75px;
  }

  .order__desc {
    font-size: 32px;
  }

  .order__sale {
    font-size: 132px;
  }

  .order-form__send-btn-container {
    width: 250px;
  }

  .contacts__email,
  .contacts__phone {
    font-size: 32px;
  }

  .title {
    font-size: 16px;
  }

  .main-section__menu-item {
    font-size: 14px;
  }

  .main-section__order-btn,
  .main-section__readmore-btn {
    font-size: 11px;
  }

  .main-section__title_rivertime {
    font-size: 130px;
  }

  .main-section__soc-icon,
  .main-section__soc-link {
    width: 25px;
    height: 25px;
  }

  .main-section__soc-link {
    margin-bottom: 18px;
  }

  .members__nav-arr_left {
    margin-right: 25px;
  }

  .members-info__desc {
    font-size: 16px;
  }

  .members-info__name {
    font-size: 16px;
  }

  .members-info__position {
    font-size: 12px;
  }

  .members {
    padding-bottom: 0;
  }

  .deephouse-video__navitem,
  .rivertime-video__navitem {
    font-size: 14px;
  }

  .deephouse__pic,
  .rivertime__pic {
    height: auto;
    position: static;
    width: 100%;
    padding: 0;
  }

  .contacts {
    padding-bottom: 140px;
  }
}

@media (max-width: 1192px) {
  .main-section {
    height: 50vh;
  }

  .main-container_rivertime {
    background: url("../../img/rivertime-mobilebg.jpg") center/cover no-repeat, linear-gradient(180deg, #e7e5e8, #e7e5e8);
  }

  .main-section__title-wrapper {
    background: url("img/mainbg.png") 65% 100%/cover no-repeat;
  }

  .deephouse-video__slide,
  .deephouse-video__slider,
  .rivertime-video__slide,
  .rivertime-video__slider,
  .gallery__slider,
  .gallery__slide {
    height: 430px;
  }

  .main-section__title-container {
    left: 8%;
  }

  .gallery__slider-arr_left,
  .rivertime-video__slider-arr_left,
  .deephouse-video__slider-arr_left {
    left: -110px;
  }

  .gallery__slider-arr_right,
  .rivertime-video__slider-arr_right,
  .deephouse-video__slider-arr_right {
    right: -110px;
  }

  .contacts__table {
    width: 100%;
  }

  .members-info__slider .slick-slide {
    margin-right: 30px;
  }

  .members-info__slider .slick-list {
    margin-right: -30px;
  }

  .members__slider-nav {
    width: 25%;
  }

  .deephouse-video__navitem,
  .rivertime-video__navitem {
    margin-right: 80px;
  }

  .main-section__title_rivertime {
    font-size: 115px;
  }

  .main-section__title_deephouse {
    font-size: 90px;
  }
}

@media (max-width: 1025px) and (max-height: 1360px) {
  .main-section {
    height: 70vh;
  }
}

@media (max-width: 1024px) and (min-height: 1360px) {
  .main-section {
    height: 50vh;
  }

  .main-container_rivertime {
    background: url("../../img/rivertime-mobilebg.jpg") center/cover no-repeat, linear-gradient(180deg, #e7e5e8, #e7e5e8);
  }
}

@media (max-width: 1015px) {
  .main-section__menu-item_logo {
    margin-right: 40px;
  }

  .main-section__menu-item-icon {
    width: 92px;
    height: 32px;
  }

  .main-section__order-btn {
    height: 37px;
    top: 47px;
  }
}

@media (max-width: 950px) {
  .main-section * {
    z-index: 5;
  }

  .main-section__title-wrapper {
    height: 95%;
    z-index: 1 !important;
    top: auto;
    bottom: 0;
    position: absolute;
  }

  .main-section__title-container {
    top: 37%;
  }

  .main-section__title {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
  }

  .main-section__title-name {
    margin-bottom: 20px;
  }

  .voice__title {
    font-size: 48px;
  }

  .voice__desc {
    font-size: 14px;
  }

  .deephouse-video-info__desc,
  .members-info__desc {
    font-size: 14px;
  }

  .deephouse-video-info__genres-title {
    font-size: 12px;
  }

  .main-section__role {
    font-size: 16px;
  }

  .video__label {
    font-size: 12px;
    margin-top: 20px;
  }

  .title {
    font-size: 14px;
  }

  .gallery__slider-arr,
  .rivertime-video__slider-arr,
  .deephouse-video__slider-arr {
    display: none;
  }

  .gallery__slide {
    margin-right: 30px;
  }

  .clients__item {
    text-align: center;
  }

  .order__desc {
    font-size: 24px;
    line-height: 35px;
  }

  .order__sale {
    font-size: 124px;
  }

  .order-form__input-container:before {
    font-size: 14px;
  }

  .order-form__send-btn-container {
    width: 200px;
  }

  .order-form__send-btn {
    padding: 17px 90px 17px 23px;
    font-size: 16px;
  }

  .order-form__arrow {
    right: 25px;
  }

  .contacts__email,
  .contacts__phone {
    font-size: 24px;
  }

  .rivertime__subtitle,
  .deephouse__subtitle {
    font-size: 20px;
  }

  .rivertime__title,
  .deephouse__title {
    font-size: 56px;
    line-height: 62px;
  }

  .deephouse__readmore-arrow,
  .rivertime__readmore-arrow {
    transform: translateX(-50%) translateY(-150%) rotate(90deg);
  }

  .main-section__title_rivertime {
    font-size: 100px;
  }

  .deephouse-video__nav,
  .rivertime-video__nav {
    margin-top: 15px;
  }

  .members-wrapper {
    width: 100%;
    margin: 0;
  }

  .deephouse-video__navitem,
  .rivertime-video__navitem {
    margin-right: 100px;
  }

  .main-section__title_deephouse {
    font-size: 70px;
  }

  .deephouse-video-info {
    width: 60%;
  }

  .deephouse-video-info__desc {
    width: 100%;
  }

  .members__nav-arr {
    width: 60px;
    height: 60px;
  }

  .members__slider-count {
    font-size: 14px;
  }

  .members__nav-arr_left {
    margin-right: 15px;
  }

  .members-info__name {
    font-size: 14px;
  }

  .clients__title {
    margin-bottom: 80px;
  }
}

@media (max-width: 860px) {
  .modal {
    width: 60%;
    padding: 6% 7% 3%;
  }

  .main-section__mobile-menu {
    display: block;
  }

  .main-section__menu-item:not(.main-section__menu-item_logo),
  .main-section__order-btn,
  .main-section__readmore-btn,
  .main-section__soc {
    display: none;
  }

  .preloader__icon {
    width: 30%;
  }

  .preloader__icon svg {
    width: 100% !important;
    height: auto !important;
  }

  .video-wrapper_visible {
    animation: none;
    transform: translateY(0%);
    opacity: 1;
    transition: none !important;
  }

  .revealator-slideup {
    transform: none !important;
  }

  .voice__title,
  .members-info__genres-title {
    opacity: 1 !important;
  }

  .main-section__title-wrapper {
    background: url("../img/mainbg.png") 65% 100%/cover no-repeat;
  }

  .main-section__title-container {
    left: 0;
  }

  .deephouse-video__slide,
  .gallery__slide,
  .rivertime-video__slider,
  .deephouse-video__slider,
  .rivertime-video__slide {
    height: 55vh;
  }

  .rivertime-video__mobile-slider,
  .deephouse-video__mobile-slider {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .rivertime-video__slider,
  .rivertime-video__slider-arr,
  .rivertime-video__nav,
  .deephouse-video__slider,
  .deephouse-video__slider-arr,
  .deephouse-video__nav {
    display: none;
  }

  .deephouse-video__title {
    display: block;
  }

  .rivertime-video__mobile-slide,
  .deephouse-video__mobile-slide {
    width: 60%;
  }

  .rivertime-video__mobile-slide:nth-child(2n),
  .deephouse-video__mobile-slide:nth-child(2n) {
    align-self: flex-end;
    margin: 40px 0 50px;
  }

  .main-section__title_rivertime {
    font-size: 86px;
    line-height: 100px;
  }

  .main-section__title-wrapper {
    height: 100%;
  }

  .members .deephouse-video-info__desc {
    width: 80%;
  }

  .members-info__desc {
    width: 60%;
  }

  .deephouse-video__navitem,
  .rivertime-video__navitem {
    margin-right: 60px;
  }

  .deephouse__title,
  .rivertime__title {
    font-size: 48px;
    margin-bottom: 15px;
  }

  .deephouse__readmore-btn,
  .rivertime__readmore-btn {
    padding-bottom: 0;
  }

  .deephouse__labels,
  .rivertime__labels {
    bottom: 20%;
  }

  .main-section__title_deephouse {
    font-size: 64px;
  }

  .voice__desc {
    width: 160%;
  }

  .wrapper:not(.members-wrapper) {
    width: 80%;
  }

  .deephouse-video__slide,
  .deephouse-video__slider,
  .gallery__slide,
  .rivertime-video__slide,
  .rivertime-video__slider {
    height: 350px;
  }

  .voice__info .video:not(:first-of-type) {
    margin-top: 70px;
  }
}

@media (max-width: 670px) {
@keyframes slideupreadmorebtn {
    0% {
      opacity: 0;
      bottom: 22%;
    }

    100% {
      opacity: 0.5;
      bottom: 20%;
    }
}

@keyframes slideupreadmorearrow {
    0% {
      left: -48px;
    }

    100% {
      left: -60px;
    }
}

@keyframes slideupsoc {
    0% {
      opacity: 0;
      bottom: 10%;
    }

    100% {
      opacity: 1;
      bottom: 7%;
    }
}

  .main-section__menu-item {
    margin-right: 25px;
  }

  .main-section__readmore-btn {
    bottom: 20%;
  }

  .disable-animation .main-section__soc {
    bottom: 7%;
  }

  .contacts__table-soc {
    display: block;
  }

  .main-section__title-container {
    left: 2%;
  }

  .clients__item {
    margin-bottom: 50px;
  }

  .order__desc {
    font-size: 20px;
  }

  .order__sale {
    font-size: 120px;
  }

  .contacts__table {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }

  .title {
    font-size: 18px;
  }

  .deephouse-video__title,
  .gallery__title,
  .rivertime-video__title {
    margin-bottom: 25px;
  }

  .clients__title {
    margin-bottom: 50px;
  }

  .deephouse__title,
  .rivertime__title {
    font-size: 40px;
    line-height: 42px;
  }

  .deephouse__subtitle,
  .rivertime__subtitle {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .main-section__title_rivertime {
    font-size: 70px;
  }

  .main-container_rivertime .main-section__title-container {
    bottom: 20%;
  }

  .main-section__title_deephouse {
    font-size: 54px;
  }

  .deephouse-video-info {
    width: 80%;
  }

  .contacts__title {
    margin-bottom: 20px;
  }

  .voice__video-title {
    margin-bottom: 30px;
  }

  .voice-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .voice__info,
  .voice__subcol {
    width: 100%;
  }

  .voice__info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
  }

  .voice__info .voice__title {
    order: 1;
  }

  .voice__info .voice__genres {
    order: 2;
  }

  .voice__info .voice__desc {
    order: 3;
  }

  .voice__info .voice__video-title {
    order: 4;
  }

  .voice__info .video:not(:first-of-type) {
    order: 5;
    margin-top: 0 !important;
  }

  .voice__info .video:not(:last-child) {
    order: 6;
    margin-top: 50px;
    align-self: flex-end;
  }

  .voice__subcol {
    display: flex;
    flex-direction: column;
  }

  .voice__desc {
    width: 100%;
  }

  .video_pos {
    transform: none;
  }

  .voice {
    padding-bottom: 0;
  }

  .voice__info .video:not(:first-of-type) {
    margin-top: 50px;
  }

  .video {
    width: 75%;
  }

  .voice-wrapper {
    padding-bottom: 50px;
  }

  .video_pos {
    margin-bottom: 0;
  }

  .voice__subcol {
    margin-top: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
  }

  .video__label {
    width: 70%;
    font-size: 14px;
  }

  .modal {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #191A1C;
  }

  .modal_active {
    display: flex !important;
  }

  .modal-success__text {
    order: 1;
    margin: 10% 0 0;
    line-height: 140.4%;
    color: #FFFFFF;
  }

  .modal-success__icon {
    width: 117px;
    height: 117px;
    margin-bottom: 75px;
    margin-top: 75px;
    order: 2;
  }

  .modal-success__btn {
    width: 93%;
    background: transparent;
    line-height: 15px;
    color: #fff;
    order: 3;
  }
}

@media (max-width: 570px) {
  .modal {
    width: 75%;
    padding: 6% 7% 3%;
  }

  .modal-success__text {
    font-size: 16px;
  }

  .modal-success__btn {
    padding: 15px 70px;
    font-size: 16px;
  }

  .main-section__wrapper {
    width: 100%;
    padding: 0 5%;
  }

  .main-section__menu {
    margin-left: 5%;
  }

  .main-section__mobile-menu {
    right: 50px;
  }

  .main-section__title-container {
    left: 5%;
  }

  .main-section__roles {
    margin-top: 20px;
  }

  .voice__title {
    font-size: 44px;
  }

  .video {
    width: 85%;
  }

  .wrapper:not(.members-wrapper) {
    width: 90%;
  }

  .members__slider-nav {
    display: none;
  }

  .main-section__title-wrapper {
    height: 90%;
  }

  .members-info__genres,
  .members-info__desc,
  .members-info__group {
    margin-left: 6%;
  }

  .members-info__desc {
    width: 80%;
  }

  .members-info {
    width: 100%;
  }

  .members-info__slider {
    width: 100%;
  }

  .members-info__group {
    margin-bottom: 50px;
  }

  .members-info__name {
    font-size: 16px;
  }

  .members-info__position {
    font-size: 14px;
  }

  .deephouse-video__slide,
  .deephouse-video__slider,
  .gallery__slide,
  .gallery__slider,
  .rivertime-video__slide,
  .rivertime-video__slider {
    height: 300px;
  }

  .main-section__title_deephouse {
    font-size: 50px;
  }

  .order__sale {
    font-size: 100px;
  }

  .order__desc {
    width: 50%;
    font-size: 18px;
  }

  .order-wrapper {
    flex-direction: column;
  }

  .order-form {
    margin-top: 50px;
    width: 100%;
  }

  .order__title {
    width: 100%;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
  }

  .rivertime__mobile-labels,
  .deephouse__mobile-labels {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }

  .rivertime__labels,
  .deephouse__labels {
    display: none;
  }

  .rivertime-wrapper,
  .deephouse-wrapper {
    width: 100% !important;
  }

  .deephouse-video:after,
  .voice:after {
    display: none;
  }
}

@media (max-width: 495px) {
  .voice,
  .gallery,
  .order,
  .contacts,
  .members,
  .deephouse-video,
  .rivertime-video {
    padding-top: 65px;
  }

  .gallery,
  .contacts,
  .deephouse-video,
  .rivertime-video {
    padding-bottom: 65px;
  }

  .deephouse-video-info__group,
  .members-info__group {
    margin-top: 65px;
  }

  .deephouse-video-info__desc,
  .rivertime-video-info__desc {
    margin-bottom: 65px;
  }

  .main-section__title-wrapper {
    height: 85%;
  }

  .modal {
    width: 100%;
  }

  .video__play-btn {
    width: 19px;
    height: 22px;
  }

  .main-section__roles {
    margin-left: 0;
  }

  .main-section {
    height: 45vh;
  }

  .video__label {
    width: 100%;
  }

  .deephouse-video__slide,
  .gallery__slider,
  .deephouse-video__slider,
  .gallery__slide,
  .rivertime-video__slide,
  .rivertime-video__slider {
    height: 280px;
  }

  .clients__item {
    margin-bottom: 30px;
  }

  .clients__item:nth-child(3),
  .clients__item:nth-child(6) {
    text-align: center;
  }

  .gallery-wrapper {
    padding-bottom: 60px;
  }

  .members-info__group,
  .clients__title {
    margin-bottom: 25px;
  }

  .deephouse-video__slide,
  .deephouse-video__slider,
  .gallery__slide,
  .gallery__slider,
  .rivertime-video__slide,
  .rivertime-video__slider {
    height: 250px;
  }

  .deephouse-video__navitem,
  .rivertime-video__navitem {
    margin-right: 10px;
  }

  .deephouse-video__navitem,
  .rivertime-video__navitem {
    font-size: 12px;
  }

  .order__desc {
    font-size: 14px;
    line-height: 1.9;
  }

  .order__sale {
    font-size: 90px;
  }

  .order-form {
    margin-top: 25px;
  }

  .order-form__send-btn-container {
    margin-top: 50px;
  }

  .main-section__title_deephouse {
    font-size: 46px;
  }

  .main-section__mobile {
    text-align: center;
  }

  .main-section__mobile-orderbtn {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 18px 48px 21px;
  }
}

@media (max-width: 440px) {
  .main-section__title_deephouse {
    font-size: 38px;
  }

  .main-section__title-name {
    margin-bottom: 15px;
  }

  .main-section__menu {
    top: 15px;
  }

  .main-section__mobile-menu {
    top: 20px;
    right: 25px;
  }

  .main-container_rivertime {
    background: url("../../img/rivertime-mobilebg.jpg") center/cover no-repeat, linear-gradient(180deg, #e7e5e8, #e7e5e8);
  }

  .main-section__role {
    margin-right: 15px;
    font-size: 12px;
  }

  .video__label {
    font-size: 12px;
  }

  .main-section__title_rivertime {
    font-size: 54px;
  }

  .voice {
    padding-bottom: 65px;
  }

  .voice__title {
    font-size: 38px;
  }

  .deephouse__pic,
  .rivertime__pic {
    height: 230px;
  }

  .deephouse__photo,
  .rivertime__photo {
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 375px) {
  .modal {
    padding: 10% 7% 7%;
  }

  .modal-success__text {
    margin: 10% 0 0;
  }

  .modal-success__btn {
    font-size: 12px;
  }

  .main-section__title-wrapper {
    background: url("../../img/mainbg.png") 68% 100%/cover no-repeat;
  }

  .main-section__title-wrapper {
    height: 95%;
  }

  .main-section__title-container {
    top: 38%;
  }

  .main-container_rivertime .main-section__title-container {
    bottom: 10%;
  }

  .main-section {
    height: 300px;
  }

  .main-container[class$="main-container"] .main-section {
    height: 70vh;
  }

  .voice__title {
    font-weight: 200;
    font-size: 24px;
    line-height: 113.1%;
  }

  .wrapper:not(.members-wrapper) {
    width: 88%;
  }

  .voice__title {
    margin-bottom: 16px;
  }

  .voice__genres {
    margin-bottom: 35px;
  }

  .title {
    margin-bottom: 30px;
  }

  .video {
    width: 70%;
  }

  .voice__subcol {
    margin-top: 40px;
  }

  .deephouse-video__slide,
  .deephouse-video__slider,
  .gallery__slide,
  .gallery__slider,
  .rivertime-video__slide,
  .rivertime-video__slider {
    height: 172px;
  }

  .clients__title {
    margin-bottom: 50px;
  }

  .clients {
    padding-bottom: 40px;
  }

  .order__sale {
    font-size: 48px;
    line-height: 59px;
  }

  .order__desc {
    width: 65%;
    line-height: 22px;
  }

  .order-form__input-container_name,
  .order-form__input-container_date {
    width: 100%;
  }

  .order-form__input-container_date {
    margin-top: 37px;
  }

  .order-form__container_top {
    flex-wrap: wrap;
  }

  .order-form__send-btn-container {
    width: 100%;
  }

  .voice {
    padding-bottom: 30px;
  }

  .order-form__send-btn {
    padding: 21px 45px 22px 36px;
  }

  .order-form__arrow {
    right: 45px;
  }

  .order-form__error-msg {
    bottom: -19px;
  }

  .contacts__title {
    margin-bottom: 35px;
  }

  .main-section__title_rivertime {
    font-size: 48px;
  }

  .members-info__desc {
    margin-top: 35px;
  }

  .members-info__desc,
  .deephouse-video-info {
    width: 85%;
  }

  .members-info__name {
    font-size: 14px;
    padding-left: 5px;
  }

  .members-info__position {
    font-size: 12px;
    padding-left: 5px;
  }

  .deephouse-video__navitem,
  .rivertime-video__navitem {
    font-size: 10px;
  }

  .deephouse-video,
  .rivertime-video {
    padding-bottom: 85px;
  }

  .deephouse__title,
  .rivertime__title {
    font-size: 36px;
  }

  .main-section__title_deephouse {
    font-size: 32px;
  }

  .main-section__mobile-orderbtn {
    padding: 18px 5px 21px;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .main-section {
    height: 51vh;
  }

  .main-section__role {
    margin-right: 10px;
  }

  .main-section__title_rivertime {
    font-size: 42px;
  }

  .deephouse__title,
  .rivertime__title {
    font-size: 32px;
  }

  .deephouse-video,
  .rivertime-video {
    padding-bottom: 50px;
  }
}